[2014-01-04 07:31] syabro opened #1 "In safari and webkit (OS X) plugin zooms too much"
F.e. screenshot when I click 200x200 image
http://i.imgur.com/BFl0a3m.png

[2014-01-04 16:02] #1 closed, assigned to terrymun

[2014-01-05 02:48] jordymeow opened #2 "Incorrect size and position"
Hi,

I guess I am the first one coming with an issue :)

Not sure how to explain it but please have a look at this page:
http://france.totorotimes.com/dune-of-pilat/

Not sure what the problem is but for sure the plugin doesn't show the image in a very nice way. Do you know what's going on?

Thanks a lot, can't wait to see this nice plugin working.

[2014-01-05 11:24] #2 closed, assigned to terrymun

[2014-01-09 13:52] watermelonjuice opened #4 "Submit to cdnjs"
This would make a nice addition to cdnjs

[2014-01-10 06:11] juliat opened #5 "[enhancement] Make compatible with lazy loading of images"
Right now, fluidbox is incompatible with lazy loading of images, because it requires that all images be loaded before it initializes. It would be great if the code were refactored/modified to allow for one off initialization of fluidbox (e.g., in a callback) so that it would work with lazy loading.

[2014-01-13 15:12] christophery opened #6 "License"
What's license is Fluidbox available under?

[2014-01-13 18:27] #6 closed, assigned to terrymun

[2014-01-29 00:42] ImBobby opened #8 "Add escape key in closeTrigger settings"
Hi, pressing escape key to close Fluidbox should be added for accessibility matter.

[2014-01-30 08:58] imevro opened #9 "Doesn't seem in bower"
Is Fluidbox registered in bower's registry?

[code]

[2014-02-01 12:34] #8 closed, assigned to terrymun

[2014-02-03 08:01] #9 closed, assigned to terrymun

[2014-02-06 11:57] #5 closed, assigned to terrymun

[2014-02-08 12:26] joopvos opened #11 "Can't get Fluidbox working ... :("
Hi Terry,

I don't know if this is the right place to ask what probably is a simple noob question, but I can't get Fluidbox working.

Into the head of the HTML I have:

[code]

At the bottom of the HTML I have:

[code]

And the HTML is:

[code]

I've put it on the server so you can look into the source > http://www.villaesma.es/txp (under construction) ... in Chrome 32 (Mac) it looks as intented (

[2014-02-08 15:42] #11 closed, assigned to terrymun

[2014-02-14 02:20] Dangre opened #12 "Bootstrap grid system hinders centering and sizing"
Hi,
Love the plugin – great job.

Trying to integrate Fluidbox into our website which uses Bootstrap v3 – the grid system seems to lock the overlay in place, stopping it from getting to its full dimensions and centering on the page.

As an example, if the smaller image version is in a 6 column grid (col-lg-6), and you click on it to open it to the overlay, the overlay white background works, but t

[2014-02-17 09:36] torrfura opened #14 "Previous / Next"
Would it be bloating if there was an option to step through a collection of images (gallery) using classic prev / next buttons while you are in "focus" mode?

Then it would be the neatest gallery plugin ever!

[2014-02-17 09:48] #14 closed, assigned to terrymun

[2014-02-17 09:59] #12 closed, assigned to terrymun

[2014-03-02 02:27] devinhalladay opened #16 "Can't get it to work..."
Okay, so I'm using Jekyll ([view my site's source](http://github.com/devinhalladay/devinhalladay.com)) and Fluidbox is working on my local preview, but not on my [live site](http://devinhalladay.com/).

I have no idea what's going wrong. Could issue with Cloudflare's [Rocket Loader](https://support.cloudflare.com/hc/en-us/articles/200168056-What-does-Rocket-Loader-do-)?

[2014-03-03 15:35] mtissington opened #17 "Couple of issues"
My site is not live yet, so I can't provide a link .. I think there is an issue with where the ghost image is in the layout tree.

When I click a link there are a couple of issues (possibly same thing).

1) I see the image scale up, however the white div is in front of everything
2) The larger image is hidden by parts of the parent div(s)

[2014-03-04 09:46] #17 closed, assigned to terrymun

[2014-03-05 06:16] #4 closed, assigned to terrymun

[2014-03-06 02:30] #16 closed, assigned to terrymun

[2014-03-06 18:02] louy opened #19 "White Flash"
There's a white flash when closing the Fluidbox that flashes twice.
The first is while scaling down the image and the other is after the image is closed.
I think this happens when switching between the two image sizes but the effect is really ugly.

[2014-03-06 19:18] #19 closed, assigned to terrymun

[2014-03-07 20:02] devinhalladay opened #22 "Prevent scrolling when lightbox is open"
I think it'd be great if we could prevent scrolling while the lightbox is open. Is that possible?

[2014-03-07 20:07] #22 closed, assigned to terrymun

[2014-03-18 14:08] MarianArlt opened #24 "Version description not up to date"
The description of the plugin version reads 1.2.1 in all files/downloads. Should match the  latest release.

Also there's still one white flash when opening and closing (OSX Safari 7.0.2 and Chrome 33). Is this intentional? Medium has a very smooth transition without flickering. Would totally use your plugin if it was that way.

Anyways, kudos for a nice lightbox, love the positioning.

[2014-03-19 21:52] #24 closed, assigned to terrymun

[2014-03-20 08:09] MarianArlt opened #30 "Stacking order of opened images"
Sorry mate, I didn't mean to push you with my request yesterday.
Thing is, I checked your 1.2.4 and opened images now are kept behind other images, either thumbs or already loaded in some, to me, random manner. (Tested in Safari 7 and Chrome 33)
This also makes it undesirably possible to open several images at once.
This becomes most obvious in the galleries section or if you open an image that's

[2014-03-20 17:02] #30 closed, assigned to terrymun

[2014-04-01 14:17] daverayment opened #35 "Cannot dismiss overlay on Firefox"
Hi,

I've developed a simple example gallery with placeholder images here:

http://jsfiddle.net/5GDe4/7/

The site works on the latest versions of Chrome and Internet Explorer. However, on Firefox 28, once you've opened one image and closed it again, it appears that the lightbox overlay (id: fluidbox-overlay) is retained, meaning you can never click on anything else afterwards. You just end up res

[2014-04-04 05:12] firstinflight opened #40 "Z-index setting sticks after lightbox is dismissed"
It appears that when a lightbox is and dismissed, the high z-index setting sticks with the image, causing visual conflicts. The z-index should reset when the lightbox is dismissed and the image returns to normal size/position. This happens in all browsers.

Here's the full explanation and example:
I have a site that's in development that uses a top header with a z-index of 999, allowing it to stay

[2014-04-04 17:28] #35 closed, assigned to terrymun

[2014-04-04 17:33] #40 closed, assigned to terrymun

[2014-04-13 12:18] bakman2 opened #43 "[request] prev/next ?"
As subject; especially in a gallery it would be nice+convenient to have a prev/next possibility (I understand that it would introduce all kinds of issues and not the original aim of the project).

[2014-04-13 20:05] #43 closed, assigned to terrymun

[2014-04-17 13:33] SirNovi opened #44 "Prevent Upscaling"
First: Thumbsup on the cool plugin. - I'm planning on using it because of its simplicity.

I'm no programmer myself, so I don't know how it could be achieved or how much work it would be, but I really think it would be a very useful feature, to allow the prevention of upscaling.

I plan to use the plugin for the display of web design work, meaning: If I have a site that's only about 1000px wide, i

[2014-04-22 15:08] Integral opened #47 "Firefox problems"
Hi!
Please look at: http://integral.github.io/stories/greenpeace/mannes-ubels/
Sometimes it works strange in OS X Firefox, for example after clearing cache
![](http://cl.ly/image/3Z1W1W1Y3o1K/Screen%20Shot%202014-04-22%20at%2019.05.38.png)

[2014-04-22 16:53] #47 closed, assigned to terrymun

[2014-04-24 12:30] ragzor opened #48 "using fluidbox with Bootstrap3 Carousel"
Hello!

Thank you for an amazing plugin!

I am trying to use fluidbox with images inside the Bootstrap Carousel since the .carousel{} class has overflow:hidden; fluidbox is not working as it is supposed to, It obviously works when I remove the overflow property but the carousel breaks. You have mentioned this case in the plugin's readme as well.

so basically is there any way I could make fluidbox

[2014-04-24 13:04] #48 closed, assigned to terrymun

[2014-04-24 13:51] #44 closed, assigned to terrymun

[2014-04-25 13:26] renestalder opened #49 "Fast click cause big image not to be visible"
If you click 3 times fast on an image (show big, close, show big), the animation seems not to finish correctly. So after the last click, the big image is not visible; opacity of the big image (the fluidbox generated `div`) is still on `0`.

[2014-05-03 16:35] pasqualevitiello opened #50 "Compatibility with fixed header"
Great plugin! But let's suppose I have a fixed header like this: http://getbootstrap.com/examples/theme/

How would you let the lightbox stuff cover the header too (in other words, the whole viewport)? Also, is it possible to add an option to prepend the lightbox just before the closing body tag?

Cheers,
-P

[2014-05-04 17:04] #50 closed, assigned to terrymun

[2014-05-04 17:06] #49 closed, assigned to terrymun

[2014-05-21 07:47] adius opened #51 "Animation very buggy"
Check out the website http://stegherr-uhrmachermeister.de/impressum and click on the "Zertifikat" image. The animation is very buggy. Sometimes the small image is getting repeated and sometimes it doesn't even show an image at all.
Any idea why this happens?

[2014-05-21 20:16] #51 closed, assigned to terrymun

[2014-05-21 20:59] PhilippeGauthier opened #52 "Do you have any plans of implementing a gallery feature?"

[2014-05-21 21:12] #52 closed, assigned to terrymun

[2014-05-22 13:38] kentliau opened #53 "A translation glitch when the img element have border style apply to it."
To try it, apply `border: 20px solid rgba(255,0,0,.2)` to the `<img>` element, try it directly in devtools will do, you will see the closing animation glitch

I recorded a screenie, please wait for a while ,it is 3.5MB

![glitch](https://cloud.githubusercontent.com/assets/1708463/3054784/c5820932-e1ba-11e3-9332-861fc18e06fd.gif)
https://cloud.githubusercontent.com/assets/1708463/3054784/c5820932-e

[2014-05-22 14:47] #53 closed, assigned to terrymun

[2014-05-30 13:14] VincentVanMeulen opened #54 "Images being able to be open at the same time"
Hello,

I have just implemented Fluidbox on my website. Nevertheless, I am able to open multiple images at the same time and other weird bugs occur (http://gyazo.com/c6d3023f9b8ea6c3f96f38ba5b339380). I think that it's the same problem as described in https://github.com/terrymun/Fluidbox/issues/30 , but am not 100% positive about that and clueless in general when it comes to this bug.

Vincent

[2014-05-30 17:09] #54 closed, assigned to terrymun

[2014-06-03 09:25] yumyo opened #55 "Close on scroll"

[2014-06-03 09:27] #55 closed, assigned to terrymun

[2014-06-11 19:07] intermedion opened #56 "Disable fluidbox on small devices"
On a device with a small screen we likely want the text and image to fit the entire width of the screen and so we need to disable fluidbox.

For instance, if I have only 480px, I do not want my text and image to be constrained to be even less than that (it makes text harder to read), only to have to use fluidbox to display the image at full device width... i.e at 480px. So, it would be useful to h

[2014-06-11 21:08] #56 closed, assigned to terrymun

[2014-06-25 19:52] narehart opened #57 "Add CSS file to bower.json"
Specifying the CSS file in the main option would make this package much easier to user with grunt-wiredep.

[2014-06-28 06:01] #57 closed, assigned to terrymun

[2014-07-12 09:36] gihnius opened #59 "image in a fixed size div"
when the img parent div is fixed size and set overflow: hidden, the image resized part will be hidden after zoom .
Any idea to deal with this case ?

[2014-07-14 12:13] Thetjo opened #60 "Image pops after done loading"
Summary: After clicking on a thumbnail, the larger image popups up. Once it's fully popped-up, it just (ever so slightly) changes in size, which makes the final result jump compared to the 'pre-final' one. The final image also seems to be more in focus ('sharper'?), don't know why.
On: Mac, latest version of Google Chrome
Page: http://terrymun.github.io/Fluidbox/

Click on the image of the church-

[2014-07-23 13:30] renestalder opened #61 "Maximum scale to image size"
It seems that the scale of the bigger image never stops, even you have a bigger monitor than the biggest image provided on the website.

IMHO the fluidbox should only scale to a maximum of the image size.

[2014-07-23 13:49] #59 closed, assigned to terrymun

[2014-07-29 18:28] beepiams opened #62 "FB within ZF-5 Reveal doesn't zoom image on init. Works on Resize."
Summary:
http://beepia.ms/ams --> Furniture Tab
Fluidbox 1.3.3
Zurb Foundation 5 Reveal-Modal

Fluidbox works within body, but when placed within reveal-modal, on init and image selection, doesn't bring the zoomed-in image to the front.

![screenshot 2014-07-29 14 25 10](https://cloud.githubusercontent.com/assets/1500778/3739761/0795eb0e-174e-11e4-8896-deb25d4d9a98.png)

On Resize however, the ima

[2014-07-31 09:56] #62 closed, assigned to terrymun

[2014-08-03 13:31] stevegybels opened #63 "Image box does not disappear when scrolled"
When the user scrolls, the lightbox does not disappear but stays open. It should be closed automatically.

[2014-08-03 13:38] #63 closed, assigned to terrymun

[2014-08-13 17:36] paaljoachim opened #64 "More detailed step by step instructions."
Hey

I am working on getting your Fluidbox to work in WordPress. (By placing the code in the head)
I have not yet been able to get it to work.
Could you give step by step detailed instructions on how to set up Fluidbox to get it to work correctly?
If you can also add some customization instructions along the way that would also be helpful.

[2014-08-26 14:50] #64 closed, assigned to terrymun

[2014-08-26 18:13] paaljoachim opened #65 "Popup goes behind body background"
Hey

How do I fix the issue of an image that popups up behind the body background?

Thanks!

[2014-08-26 18:22] #60 closed, assigned to terrymun

[2014-08-26 20:48] #61 closed, assigned to terrymun

[2014-08-28 15:50] Redani opened #66 "linking to higher resolution image but different size"
Hi,
first of all thanks for this great plugin.
I do have 2 questions please:
1- what is the browser compatibility for the plugin?
2- i would like to use it for a hight resolution image. Lets say the thumbnail in always 100x100px but the higher resolution image will not always have the same size and not necessary square. how can i achieve that?

Thanks

[2014-08-29 05:43] dvdchr opened #67 "Zoomed image stays blurred in MacBook"
This works just fine in Windows, Linux, Ubuntu. The thumbnail is of 70x120, and the real image is 700x1200 (10x scale).

Any idea what might cause this? Is it the scale that's too big?

[2014-08-29 09:37] #66 closed, assigned to terrymun

[2014-08-30 16:36] PeterDaveHello opened #68 "typo in tag"
I think v.1.2.3 should be v1.2.3, right?

[2014-08-31 01:59] ianhobbs opened #69 "Quick tip on how to implement the variables?"
I've been changing the variables in source - having failed to effectively implement variable changes in the implementation. Any advise on how to control fluidbox variables in the "chain" implementation.

[code]

thanks ian

[2014-08-31 13:54] #69 closed, assigned to terrymun

[2014-09-01 08:03] #68 closed, assigned to terrymun

[2014-09-03 01:31] monopine opened #70 "Choppy animation in Firefox"
Image enlargement animation is extremely choppy in Firefox (OS X, v31, v32 tested).

[2014-09-03 01:33] monopine opened #71 "White flickering in Safari"
A white flicker occurs on image enlargement in Safari (OS X, v7.0.6 tested). A double flicker occurs when image goes from large -> normal size.

The initial flicker is fairly consistent, while the large -> normal flicker is inconsistent. Some images trigger it, some do not.

[2014-09-04 06:57] #67 closed, assigned to terrymun

[2014-09-06 16:05] #70 closed, assigned to terrymun

[2014-09-15 10:19] mdeboer opened #72 "Does not work when using lazy image loading plugin"
Fluidbox fails to attach itself to anchors with more than one element in them. The lazy image loading plugin I use adds a noscript element in the anchor element below the image which is why Fluidbox skips it.

I'd suggest removing that 'feature' and in the case of multiple elements you pick the first img element. I might propose a pull-request later today.

[2014-09-15 10:23] mdeboer opened #73 "Next/previous navigation"
Though you stated to keep this plugin simple, I think it's vital to have basic image navigation to make viewing a gallery of images more intuitive. Basic key navigation without any user interface would be fine, touch navigation (I prefer Hammer.js) would be a nice addition as well. Though phones might be too small, a tablet would benefit.

Would love to hear your thoughts and help you out :+1:

[2014-09-15 15:19] #73 closed, assigned to terrymun

[2014-09-18 11:46] PDXIII opened #74 "Problems when used in combination with bourbon/neat"
Hi! Your project looks very promising, but have some problems with it, when I try to use it on images put in columns using the bourbon/neat grid.
1.  The div.fluidbox-ghost is always visible and causes a big gap in my layout in size of the smaller scaled image.
2.  When the image is clicked, the div.fluidbox-overlay is created but doesn't get the content.
3.  The bigger image is cropped!

So, I do

[2014-09-23 10:54] sahanDissanayake opened #75 "A way to scroll through a group of photos at once"
@terrymun  This is amazing plugin. If there is a way to add a navigation (just like in an image gallery sort of a thing / You can click the next previsous buttons to move through the images) would be awesome.

[2014-09-23 13:13] #75 closed, assigned to terrymun

[2014-09-23 13:16] #71 closed, assigned to terrymun

[2014-09-26 00:52] ghost opened #76 "Preloader"
Hi, i loved your library, just wanted to ask if there is a preloader option or is on the way, or i just not saw it.

Thanks!

[2014-09-26 12:00] #76 closed, assigned to terrymun

[2014-09-26 12:00] #65 closed, assigned to terrymun

[2014-09-28 21:06] maxee opened #78 "Using the reserved keyword class without quotes causes crash in IE8"
See #77

[2014-10-13 16:02] eshchapov opened #80 "Gallery mode?"
Can we create a **gallery mode** for using this plugin not only for view a single image but a gallery with navigation?

[2014-10-13 16:04] #80 closed, assigned to terrymun

[2014-10-18 08:14] iLenTheme opened #81 "Gallery Mode"
Hi, great plugin. You can not do type gallery?

[2014-10-18 09:40] #81 closed, assigned to terrymun

[2014-10-18 09:42] #78 closed, assigned to terrymun

[2014-10-27 07:19] JuanitoFatas opened #82 "Release page source code version is still 1.3.5."
On [release page](https://github.com/terrymun/Fluidbox/releases), Download https://github.com/terrymun/Fluidbox/archive/v1.4.0.zip
Unzip, open `jquery.fluidbox.js`.

[code]

This already solved in https://github.com/terrymun/Fluidbox/commit/620408e8490809d487b53c2a3718f0dae0bf9ba4.

The release attachment needs to update? Thank you!

[2014-10-27 09:04] #82 closed, assigned to terrymun

[2014-10-29 09:17] andreasd opened #83 "safari 8: click executed twice"
hi!

in safari 8 I have a very strange bug that I could not track down. when clicking on an opened fluidbox (to close it) the click seems to be bound twice and causes the box to close and reopen again immediately. i could confirm this by adding two console.log() lines at the open/close functions in fluidbox. funny thing: it happens not with all items on a page.. chrome handles the event binding co

[2014-11-07 15:52] ImBobby opened #84 "add callback functionality"
Hi, please consider to add callback like `onstart` and `onend`. Sometimes we might do something when fluidbox is "on" or "off".

[2014-11-08 11:19] #84 closed, assigned to terrymun

[2014-11-11 07:43] #72 closed, assigned to terrymun

[2014-11-11 07:48] #74 closed, assigned to terrymun

[2014-11-14 15:52] sygad opened #86 "Older IE support"
Hi,

I really like the work you've done, I thought I was the only one who had reverse engineered this ;-)
http://www.darrencousins.com/lab/image-zoom-center/

I prefer yours, solves a few problems i've not encountered.

Is there any chance you could add support for older IE, particularly the transitions being replaced with animate, it would be very very slick and quite a robust solution.

Cheers

[2014-11-16 15:49] #86 closed, assigned to terrymun

[2014-11-18 08:13] isoriaizquierdo opened #87 "Lazy Load not working with Fluidbox"
Hi!

I'm using Fluidbox in a tumblr theme that I'm creating for my photos, but I have a problem.
It doesn't work with Lazy Load (https://github.com/kaizau/Lazy-Load-Images-without-jQuery).

This is the call for the pictures form tumblr:

        <ol id="posts">
            {block:Posts}{block:Photo}
                    <li class="post photo">
                       <a href="{PhotoURL-HighRes}"><im

[2014-11-26 10:35] czirkoszoltan opened #88 "Image opening & closing flash"
In the FluidBox CSS, the transition delay of .fluidbox-closed .fluidbox-wrap img should be somewhat smaller than the transition interval of .fluidbox-ghost. For example, if

[code]

then

[code]

This is because when closing the image (going back to the page), the image is zoomed out, and its opacity is decreased to zero; however, there is a short time interval when the opacity is almost zero, but

[2014-11-26 21:15] #88 closed, assigned to terrymun

[2015-01-08 17:51] cartz opened #91 "Image position"
Hi,
my Image gets opened nice, but it is allways completely centered for the whole site. Bug or feature? ;)

[2015-01-08 18:19] terrymun commented on #91
What do you think?

Hint: Check out the [demo](http://terrymun.github.io/Fluidbox/).

[2015-01-11 00:09] gr33k01 opened #92 "Active image appears underneath other fb ghosts."
Hey there,

My guess is that this is a implementation-specific issue, so I thought it would be helpful to get your eyes on it.

If you head over to [this link]( http://lakeintegritylawn.com/fluidbox-issue/) and scroll down to the 'Recent Work' section, you'll see a bunch of images. This is where I'm trying to implement your plugin and I'm seeing this pattern:

* The first image is underneath all o

[2015-01-12 20:11] terrymun commented on #92
I suspect it is because you are individually wrapping each `<img />` with `<div class="recentWork-item">`, resulting a new stacking context being created. I have no idea why this is happening, but perhaps there are other interfering styles?

[2015-01-13 03:44] gr33k01 commented on #92
Hey, thanks for the follow up. Think I found the issue here. I had a CSS grayscale filter on the
[code]
and when I removed that, everything was peachy.

When I target the actual image tags and add the CSS filter (instead of the parent container), it works as well. Crazy. Tried to look into known issues with CSS filters messing with z-index/positioning, but I couldn't find anything.

Definitely tes

[2015-01-13 10:39] terrymun commented on #92
I did a little more digging, and apparently there are a few CSS properties, when applied to the wrapping parent of elements meant for the `.fluidbox()` method, causes a new stacking context to be created — and CSS filters are just one of them.

They are, in alphabetical order but not exhaustively so:
- CSS3 regions<sup>1</sup>
- filter<sup>1, 2</sup>
- flex<sup>3</sup>
- isolation<sup>3</sup>
- mi

[2015-01-13 10:39] #92 closed

[2015-01-14 07:12] #91 closed

[2015-01-23 17:59] #83 closed

[2015-01-23 17:59] #87 closed

[2015-01-25 17:14] anthonyabraira opened #95 "Skeljs + Fluidbox (glitchy)"
So I did several things to lay the stage here. I created a template based off of the Murtaugh HTML5 Reset Wordpress theme.

Then I added the skel responsive framework by adding the script via the functions.php file:

[code]
Then did the same thing for the Fluidbox plugin:

[code]

<h3>Current Issue</h3>
What's interesting that if I load the page and try to click on one of the images, it goes direc

[2015-01-25 17:20] terrymun commented on #95
Based on your description it seems that the reason why Fluidbox failed to work at the first time is likely due to the images dimensions being inaccessible to the plugin. When you navigate backwards the images are loaded from the cache and therefore instantly accessible.

Here are somethings you can try:

 - When the page is first loaded, check the images which have Fluidbox initialized with. Are t

[2015-01-25 17:53] anthonyabraira commented on #95
I will post up a working demonstration.

I can tell you that by disabling scale JS it was working fine.

Once I have the link I will send it to you

[2015-01-25 21:50] smutnyleszek opened #96 "Animations issues"
I started a quick project and decided to use Fluidbox for image gallery. I use Fluidbox 1.4.3 and jQuery 1.11.1. The website is http://lunabynw.com/ (https://github.com/smutnyleszek/lunabynw-com) and I have some visual issues with animations:

![fluidbox-animation-issue](https://cloud.githubusercontent.com/assets/2521888/5893432/07e1af84-a4e4-11e4-9315-12c274f64323.gif)

On latest Chrome and Safar

[2015-01-26 08:48] terrymun commented on #96
I have forgotten to add that the loading animations are powered by CSS3 animations, so you might want to include vendor prefixes manually in the CSS file, or use [prefixfree.js](https://github.com/LeaVerou/prefixfree/) to add appropriate vendor prefixes without any modifications to the CSS file.

I am unable to replicate your issue with the latest version of Chrome, v41. In Safari it is not workin

[2015-01-26 10:51] terrymun commented on #95
It seems that the `.fluidbox-ghost` element has a dimension of zero, indicating that the source image computed dimensions are inaccessible to Fluidbox upon DOM ready. There might be many reasons why this is happening, including hiding the images (or any of its ancestors, be it the wrapping element or even the body element). When images are hidden directly or indirectly, their computed dimensions a

[2015-01-26 13:58] realph opened #97 "Fluidbox Wrap Slightly Bigger Than Image"
I'm using Fluidbox for the first time, but I've noticed that the `fluidbox-wrap` element's `height` seems to be around 4px bigger than the image I'm using.

I've created a CodePen of the issue I'm having [over here](http://codepen.io/realph/pen/pvwQod).

Does anyone know how to fix this? Am I doing something wrong?

[2015-01-26 14:28] anthonyabraira commented on #95
Apologies for not answering your previous questions. Moreover not properly reading your website which clearly indicated that you had the means of linking to a higher resolution file. Oddly enough, I have been able to get the image to sometimes work on my site but, as you said, it seems mostly due to the cache.

1. Without Skeljs turned on — Fluidbox works fine.

I was going to try and put together

[2015-01-27 01:01] anthonyabraira commented on #95
Unfortunately my fix was only temporary. I can see what you mean now about the 'fluidbox-ghost' element not getting the width and height attributes. The screen shot indicates this:

![screen shot 2015-01-26 at 7 54 54 pm](https://cloud.githubusercontent.com/assets/3163617/5911579/5957fa9c-a595-11e4-8f18-b275efe36c10.png)

Now what's interesting was when I resized the image a little it put in the p

[2015-01-27 13:06] colir opened #98 "Css animations"
Hi.
First at all , thanks for your plugin ;)

I've corrected an issue with the css animations on firefox (no animation at all).
To fix it, i added the 's' to all the timing animation properties when you write 0( must write 0s)
After that, all work well

[2015-01-27 15:45] colir opened #99 "Feature Idea"
Hi.
I've an issue with the overlay size, because my Flexbox parent use transform css.
This create a new stacking context, so the fixed positionning of the overlay doesn't cover the wall page, but only the transformed element..

It will be very great with we can have an option to choose to place the flexbox relativelly to the image (like know), or to place it in an absolute position at the end of t

[2015-01-27 16:16] terrymun commented on #98
Can you submit a PR? I will merge it, thanks! :+1:

[2015-01-27 16:21] terrymun commented on #99
Thanks for raising a very interesting point.

I have also personally debated with myself a lot about how should I handle the modal box — should it be positioned relatively to the element that triggered it, or to the document body instead. I have opted to go for the former for several reasons:

1. Allows for pure-CSS dictation of overlay background. If overlay is positioned relative to document bod

[2015-01-27 16:25] terrymun commented on #97
The `<img />` element is an inline element by default. Simply set it to `display: block` so that will fix the baseline issue

[2015-01-27 16:25] #97 closed

[2015-01-27 16:27] terrymun commented on #95
I visited the URL you mentioned, and all Fludibox instances seem to be working fine for me. Tested on Chrome v41.

[2015-01-27 22:21] realph commented on #97
@terrymun Good god. Please forgive my stupidity.

[2015-01-28 09:04] colir commented on #98
I tried...but not really sure how to do that...
perhaps you can help me if my manipulation is not the right one.
thanks

[2015-01-28 09:07] colir commented on #99
I solve my problem by adding 'transform: none' at the end of my transition.
In certain case, this workaround could not be apply...

Will see in the future.

thanks

[2015-01-29 00:12] terrymun commented on #97
Please don't say that. There's nothing stupid about that!

[2015-01-31 13:41] distantnative opened #101 "Original resolution not loaded"
I have the problem that even though my a-link-element is referencing the original image resolution instead of the thumb resolution that is used by the img-elemtn, the fluidbox still rather seems to show the thumb resolution: http://zu-fo.de/gallery-test

[2015-01-31 16:17] terrymun commented on #101
I don't seem to be able to reproduce your issues—tested on OS X Yosemite, Chrome, Firefox, Safari and Opera. May I know which browser are you using?

[2015-01-31 17:00] distantnative commented on #101
OS X Yosemite, Safari 8.0.3

In Fluidbox:
![screen shot 2015-01-31 at 17 59 03](https://cloud.githubusercontent.com/assets/3788865/5988870/fd940322-a972-11e4-87b3-df707bec8170.png)

The original image:
![screen shot 2015-01-31 at 17 59 36](https://cloud.githubusercontent.com/assets/3788865/5988871/fdbc32de-a972-11e4-8ce9-350c33f1f07c.png)

[2015-01-31 17:24] terrymun commented on #101
Upon further inspection I realized that Safari does not like dealing with pseudo-elements in CSS transformed elements. An immediate fix would be removing the `::before` claractions in the file `fluidbox.css`. An alternative way of styling the loader will be implemented in the next release.

[2015-01-31 17:28] distantnative commented on #101
That seems to work - thanks for the immediate fix, more important to me than the loader, but looking forward to the next release

[2015-01-31 17:28] #101 closed

[2015-02-01 01:09] anthonyabraira commented on #95
Yeah the issue arose when I tried to use the no-js body class to make all of the content appear (via the display CSS) property. Going to use an overlay to achieve the same effect.

[2015-02-01 01:41] anthonyabraira commented on #101
I tried to do this:

[code]

Was that what you meant?

[2015-02-01 11:00] terrymun commented on #101
Nope. You will have to comment out the entire code block with `::before`, not just the single line.

Also, the SCSS file has to be compiled into CSS. It is not meant to be used as-is — and if you try to compile your code as above you will run into an error due to unclosed `{`.

[2015-02-02 05:12] terrymun commented on #101
@distantnative A solution has been devised, which involves moving up the loader div one level up the DOM tree so it doesn't mess with Safari's rendenering of the scaled element `.fluidbox-ghost` and its background. Check out the latest commit: [2aad89d2bd](https://github.com/terrymun/Fluidbox/commit/2aad89d2bd026a22b9ebf1e3c89ca5d8367678b6)

I will stop short of publishing a new release, mainly be

[2015-02-04 12:29] realph opened #102 "Zoom Animation Breaks After First Zoom"
I'm having an issue, where the first opening and closing of my lightbox looks great, but subsequent openings of the image just appear without the zoom animation. I've made a screen recording to help explain my issue.

http://cl.ly/Zc58/zoom720.mov

Any help with this is appreciated. Thanks in advance!

[2015-02-04 13:08] terrymun commented on #102
What browser are you using? This behavior is only observed with Safari 8, for very strange reasons. However, a quick fix would be enabling the `immediateOpen` option.

[2015-02-04 13:10] realph commented on #102
@terrymun `immediateOpen` seems to do the trick! Using Chrome (40.0.2214.94) om Mac.

[2015-02-04 13:10] #102 closed

[2015-02-04 13:11] terrymun commented on #102
It's really unfortunate, because I have looked through the code and don't see why would have possibly cause this behavior. Fluidbox behaves as per usual in Chrome and Firefox, both on OS X Yosemite.

However I will add this to the known issues section in the readme :) thanks for reminding me!

[2015-02-05 10:27] ihabovich opened #103 "Glitch in animation when zooming in"
I just updated to last version when I found missing smoothness transition when zoom in.
I checked your demo page which got the same issue too.

Tested platforms:
Mozilla Firefox 35.0.1
Google Chrome 40.0.2214.94

[2015-02-05 10:29] terrymun commented on #103
Can you describe what does "missing smoothness" mean? I do not seem to be able to replicate your problem in Firefox, Chrome and Safari.

[2015-02-05 10:53] ihabovich commented on #103
There was a smooth animation on zooming in in earlier version. Now as you see, on image click the zoom animation is fine first time but on repeating it losses zoom animation.

![567686735ad733c64dcba25b969a9a1a](https://cloud.githubusercontent.com/assets/6496135/6058987/80de724c-ad35-11e4-8436-f6e2d90e8212.gif)

[2015-02-05 11:35] terrymun commented on #103
That is a known issue with Safari. I am unable to reproduce the bug in Chrome and Firefox.

Closed as a duplicate of #102.

[2015-02-05 11:35] #103 closed

[2015-02-05 23:22] ihabovich commented on #102
`immediateOpen: true` did fix the problem for Chrome and Firefox browsers running on Windows OS.

[2015-02-07 22:12] hobarrera opened #104 "Demo website tries to load resources over http even when acceessed via https."
The [demo website](https://terrymun.github.io/Fluidbox/) tries to load resources over http even when acceessed via https.

This results in several security errors in firefox, which blocks the resources, and denies access to them. As a result, the website does not work as intended.

See this [screenshot](http://i.imgur.com/27VacUY.png) for details.

[2015-02-07 23:28] terrymun commented on #104
Issue fixed in demo now as of 92a894b, updated resource URLs to use protocol agnostic counterparts, i.e. `//` instead of `http://`.

[2015-02-07 23:28] #104 closed

[2015-02-08 05:10] #99 closed

[2015-02-08 05:11] #98 closed

[2015-02-08 05:11] terrymun commented on #98
Already fixed :)

[2015-02-08 05:11] terrymun commented on #95
Has this issue been resolved?

[2015-02-16 04:16] hyperperforator opened #105 "Full size image breaks when using CSS3 columns in Chrome"
Hi!

I'm trying to use Fluidbox with column-count in Chrome and it seems to break for the second column's images, while the first column works OK. You can see an example of what's going on [here](http://photos-owen.s3-website-us-west-1.amazonaws.com/jekyll/2014/03/03/welcome-to-jekyll/) but I really can't figure out what's going on; it appears to be browser specific.

What makes this problem even

[2015-02-23 14:09] maxee commented on #96
I can reproduce this issue running Chrome 40 on Win7 64 and Chrome 40 on Android 5.0.2. The Fluidbox works correctly when one clicks on the image for the first time. Afterwards clicking on it results in the issue above.

[2015-02-23 15:44] paul-frost opened #106 "Disable for IE9 or less"
I don't mind that it doesn't work in IE9, but it's stopping the normal link behaviour. When you click, nothing happens, but you can right click and open in another tab/window. How can I allow the link to work as normal when the browser can't handle Fluidbox?

[2015-03-02 20:14] ntgxtreme opened #108 "Fluidbox overlay appearing without image"
I'm unable to get Fluidbox functioning consistently on my site: http://tflsmedia.com/

If you click on the first portfolio entry, I've linked all of the images there. It works intermittently, and mostly doesn't.

When it doesn't, the overlay appears and the original image fades away, but the subsequent scaled image doesn't appear. However, if you inspect it in Chrome, it starts working until refre

[2015-03-13 01:24] realph opened #109 "Fluidbox Not Working Properly with Browserify"
I'm trying to use Fluidbox with Browserify, but I'm running into an issue where the `.fluidbox-wrap`s are taller than the image inside it. See the illustration below:

![screen shot 2015-03-13 at 01 06 56](https://cloud.githubusercontent.com/assets/2334951/6631406/793dbab2-c91d-11e4-9bbc-81fc11f00eff.png)

The grey area shows how far the `.fluidbox-wrap`s have stretched. This is how I'm including

[2015-03-13 11:48] terrymun commented on #109
Any error messages from the browser console?

As I have understood this plugin is available via npm, but it was implemented some time ago, perhaps it would require some updating. Or that the configuration file was lost at some point.

[2015-03-13 11:51] terrymun commented on #108
From your site I can see that the enlarged image container, `.fluidbox-ghost` has incorrectly calculated dimensions, suggesting that the plugin did not have access to the image's natural width and height on runtime. Are you using a delayed/lazy loading, and if the images are dynamically added, implement `.fluidbox()` to these objects *after* the event?

[2015-03-13 11:55] terrymun commented on #106
The only way I can think of is to use [IE-specific conditional comments](https://msdn.microsoft.com/en-us/library/ms537512%28v=vs.85%29.aspx) to load the configuration settings for Fluidbox, e.g.:

[code]

[2015-03-13 11:59] terrymun commented on #105
That is really strange — if you inspect the element when Fluidbox is open, you can see that `.fluidbox-ghost` is indeed positioned correctly, but there seems to be some layout artefacts when columns are implemented (and strangely not to contents in the first, leftmost column).

I don't think there is anything I can help you beyond attributing this to differential interpretation of CSS column rules

[2015-03-13 12:48] realph commented on #109
No error messages in the console. Just a visual bug as shown above.

I can't seem to find the plugin on npm, either.

[2015-03-13 16:07] realph commented on #109
@terrymun Okay, maybe it isn't isolated to Browserify. I've got a CodePen over here replicating the same issue. See how the `.fluidbox-wrap`s are taller than they should be? http://codepen.io/realph/pen/dPgrqx

[2015-03-13 16:32] realph commented on #109
@terrymun It seems as if the `.fluidbox-ghost` element is causing the `.fluidbox-wrap`s height to stretch.

![screen shot 2015-03-13 at 16 30 39](https://cloud.githubusercontent.com/assets/2334951/6642682/76532374-c99e-11e4-9f56-64cd05b6c316.png)

Any ideas?

[2015-03-14 11:46] terrymun commented on #109
That's because you're not including the Fluidbox styling in your Pen. Please refer to [installation instructions](https://github.com/terrymun/Fluidbox#installation).

[2015-03-14 14:32] realph commented on #109
Sorry, I forgot to include the CSS in my CodePen. I did have the `fluidbox.scss` (installed with Bower) file in my actual project, but it seems like .scss was different to that in your latest commit. So I re-installed, specifying the latest git commit (078cd550f3) and seems to have done the job!

So, thanks for pointing out where the problem lay. I really appreciate you getting this thing up on np

[2015-03-14 14:32] #109 closed

[2015-03-14 20:32] hyperperforator commented on #105
That's cool - I've started looking into Masonry indeed as it is a better way to lay out anyway. Thanks for taking a look! I know what you mean by needing to take more photos, it's easy to just forget :)

[2015-03-14 20:32] #105 closed

[2015-03-22 14:22] dergraph commented on #96
yea sadly I have that problem with the opening animation too…
really bugs me, cuz its ruins the elegance of the plugin.

as far as the loader goes, I have a comment:
it seems the loader/spinner is constantly animated.
I would say that is not a good idea, depending on how many instances there are
this can have a bad impact on the sites performance.

I have noticed performance problems with animatio

[2015-03-22 15:17] terrymun commented on #96
There is a yet-to-be-fixed issue with the loading, but if you toggle the `immediateOpen` option to true, that should solve the issue (as far as I know).

The loading animation is done with the CSS rule (`.fluidbox-loading`) via a pseudo-element. You can comment it out and/or override is as of when you see fit.

[2015-03-22 15:20] dergraph commented on #96
yea I already did removed it from the css.
my critique is that animation is currently spinning constantly.
so anyone whos not removing the element is having animated elements that are being calculated. (my asssumption atleast)

[2015-03-22 15:25] terrymun commented on #96
I can't seem to produce your issue of two concurrent spinning loaders. There is no constantly spinning element (unless you have an image that takes an extended amount of time to load) because the spinning animation is only enabled when the `.fluidbox-loading` class is assigned. The class is being toggled in between states, and are not present when (1) fluidbox is closed and (2) fluidbox is fully o

[2015-03-22 16:09] dergraph commented on #96
mhm ok so i have images wrap in anchors, link and img src are identical.
once they are visible in the layout there is no additional loading required.
but in the dom i do see the fluidbox-loader …

[2015-03-22 20:04] dergraph commented on #96
the animation should be in this selector. (currently is not)

.fluidbox-loading .fluidbox-loader::before {
	opacity: 1;
	transition-delay: 0s;

	-webkit-animation: fluidboxLoading 1s infinite;
	animation: fluidboxLoading 1s infinite;
}

[2015-03-23 05:17] ntgxtreme commented on #108
Hi Terry,

The site is built off of a template that I modified, so I'm not certain how
it's all built, but the project pages do appear to be lazy loaded via
jQuery.

How does one go about implementing fluidbox after? I did notice that I had
to add the script to the project page and not the main page to get it to
trigger, but I presume that's not what you meant.

– Yih

On Fri, Mar 13, 2015 at 4:51

[2015-03-23 09:32] dergraph commented on #96
"animation-fill-mode: forwards"

should be used aswell in that case, I believe.

[2015-03-27 19:27] DavGarcia opened #110 "Open animation only works first time"
I ran into an issue on my web site where the open animation only occurs the first time the thumbnail is clicked. After that the open animation doesn't play out, the image just snaps between thumbnail and full size.

I thought it might be something I was doing wrong, but then I tried the demo page and noticed the same issue there. This is in Chrome 41, but I get the same problem in IE and Firefox,

[2015-03-27 19:35] terrymun commented on #110
See #96.

[2015-03-27 19:35] #110 closed

[2015-03-27 20:17] terrymun commented on #96
Hey guys,

I apologize for the late reply—real life got a bit too busy lately.

Anyway, I released a pre-release (the oxymorous of that name!) for v1.4.4. I think I might have fixed the zooming transition issue afterall—can't seem to be able to replicate it on my end on Firefox, Safari, and Chrome. If all fails, I suggest using `immediateOpen: true` for all. I am considering to remove this feature

[2015-04-13 12:29] joeldrapper opened #111 "Fluidbox with responsive images"
I'd like to use fluidbox with responsive images using the `<picture>` element. Is there any planned support for this?

[2015-04-23 13:22] terrymun commented on #111
Hi there!

Future support for `<picture>` is planned, but no current plans are in place yet.

[2015-04-23 13:22] terrymun commented on #108
A way to implement it would be to implement Fluidbox after the images has been loaded. There has to be a success/loaded callback with the plugin, you simply have to initialize Fluidbox within that callback.

[2015-05-04 18:32] TimonVS opened #112 "Images with spaces in filename don't work"
Images with spaces in the filename don't work because the background url's are set without double quotes.

[2015-05-05 08:05] terrymun commented on #112
Please see #58.

Basically, spaces in an image path name is *invalid* and it should be manually escaped (using the `%20` HTML entity) before entering it in the markup. This is the same as using `&` instead of `&amp;` — the browser will automatically fix this to make things work, but that does not mean that it is the right way to do it.

[2015-05-05 08:05] #112 closed

[2015-05-05 08:38] TimonVS commented on #112
@terrymun I can't help it that the CMS I use (Statamic) doesn't prettify the image urls, and their opinion on this is that it's the task of a browser to do this (https://lodge.statamic.com/public-house/1261-transform-tag-friendly-image-url), but the browsers I tested (Chrome and Safari) don't do this.

I hope you'll reconsider merging in the fix.

[2015-05-05 08:49] terrymun commented on #112
Unfortunately, that means the developers over at Statamic needs to take a basic lesson in HTML standards and read the [RFC 2396 standard](http://tools.ietf.org/html/rfc2396). I suggest you take this issue up with the devs of the CMS—and if they don't want to abide with vetted web standards, get another one that does so. No CMS should think they're above the standards.

Whitespaces are specifically

[2015-05-05 09:12] TimonVS commented on #112
@terrymun Okay, your explanation makes sense now. I guess I'll just add a filter to Statamic to fix the urls for now.

[2015-05-11 14:38] goldensunliu opened #114 "remove overlayColor option from readme"
the option has been removed since 1.3.5. I was scratching my head on it for a moment.

[2015-05-15 14:22] anroots commented on #111
This would be highly appreciated.

[2015-05-21 15:26] intermedion opened #115 "Cycling through images"
In order to view each large image the user has to click on the image to open it, click again on the fluidbox to close the image, move the cursor to the next image, repeat clicks above and so on. A welcome addition would be to offer the user the option to cycle through the full size images either via the arrow keys, or by clicking on right/left arrow. This would eliminate the constant need to repos

[2015-05-21 22:08] terrymun commented on #115
Please refer to #80 and #81, as well as the [FAQ section](https://github.com/terrymun/Fluidbox#frequently-asked-questions) of readme.md.

[2015-05-21 22:08] #115 closed

[2015-05-24 16:09] jools-r opened #116 "Info: docs show old/incorrect closeTrigger selector"
Just an info: the docs here on Github and on the demo page show `#fluidbox-overlay`rather than `.fluidbox-overlay`. This may resolve closing problems with touch devices with custom close events (closed fluidbox reopens when you happen to click on the (invisible) original image).

[2015-05-26 09:24] terrymun commented on #116
Thanks, will fix that in the next release—which might take some time. It will be fixed in the v2, where the plugin code will be completely refactored.

[2015-05-26 15:57] davcoccio opened #117 "Gallery images"
Hello,

After the lightbox is opened, is it possible to display a gallery with multiple images and arrows to navigate?

Thanks

[2015-05-30 07:47] dmullerd opened #118 "index.html"
Hi,

Maybe you want an index.html at http://terrymun.github.io? I was poking around your repos got a 404 error. Otherwise nice work. Thanks, D.

[2015-06-03 20:42] joshuapinter opened #119 "Issue When Dimensions of Thumbnail and Target Image Don't Match."
I'm using a "zoom-cropped" thumbnail (100x100) and when clicking on the link it shows the target image but in the same "dimensions" as the thumbnail so the image looks distorted.

Is there a way to get around not having the exact same dimensions for both the thumbnail and target image?

For example, providing the target image dimensions?

Thanks!

Josh

[2015-06-03 21:12] terrymun commented on #119
Hasn't this feature been implemented a few subversions ago? Are you using the latest version of Fluidbox?

[2015-06-03 21:16] joshuapinter commented on #119
Hmm.. I'm on 1.4.2. Have some customizations so I haven't got the latest version, yet. Any idea what version it was implemented in?

[2015-06-04 19:10] nybblr opened #120 "Zepto.js drop-in?"
From a quick perusal of the codebase, it looks like a lightweight-jQuery replacement like Zepto could work.

Any immediate red flags? I have a site I'd love to use this on, but for performance reasons we try to stick with Zepto.

[2015-06-04 19:17] terrymun commented on #120
Interesting point, but Fluidbox relies rather heavily on the `.data()` object of jQuery, which is not supported in Zepto. What's your take?

ps: I'm also thinking about refactoring the code base for Fluidbox, but that'll happen slowly over summer.

[2015-06-04 19:26] nybblr commented on #120
@terrymun interesting, I haven't ever used `data()` that way.

In a lot of places, it looks like the Fluidbox code could use the `.data('attr-name')` form instead, which is supported by Zepto. Is there a particular reason `.data()` needs to be used? Performance?

If so, it seems like Zepto already has most of the code there to do it, but isn't exposing it for some reason: https://github.com/madrob

[2015-06-05 00:15] realph opened #121 "Disable Fluidbox on Slow Mobile Devices"
I've noticed Fluidbox's performance is a bit slow/choppy on older devices when running some browser testing this evening.

Is there a catch-all for slower mobile devices, so we can fallback to disabling the library if the device isn't up to the task?

Any help with this is appreciated. Thanks in advance!

[2015-06-05 00:38] realph commented on #121
The README recommends disabling it altogether on mobile devices. Is there an easy way to do this?

[2015-06-06 07:26] terrymun commented on #121
There is no catch-all for slower mobile devices—the most reliable way is to simply disable Fluidbox at small screen sizes. Currently the only way is to not initialize Fluidbox when the viewport dimensions are smaller than a certain threshold.

However, in v2, a destroy method will be implemented (such as [the one seen in one of my newer projects](http://terrymun.github.io/paver/demo/custom-trigger

[2015-06-06 07:26] #121 closed

[2015-06-13 20:46] christophemarois commented on #111
+1

[2015-06-18 03:41] SWalls opened #123 "Uncaught TypeError: $(...).fluidbox is not a function"
Using either jQuery 1.11.1 or 2.1.1, fluidbox does not work for me. I have followed the installation instructions carefully, making sure to include `jquery-1.11.1.min.js` (or `jquery-2.1.1.min.js`) before including `jquery.fluidbox.min.js`, with the following code after that:

[code]

However, upon page load, I get the following error in the JavaScript console: `Uncaught TypeError: $(...).fluidbox

[2015-06-18 07:08] terrymun commented on #123
Without seeing your implementation, there are several reasons why this is happening:

- Fluidbox is loaded after a minified library or script that do not have a closing trailing semicolon.
- You are using the compatibility mode of jQuery, which means the `$` sign is not assigned as an alias for the plugin. Check if `$ === jQuery` is true.
- Fluidbox.js is not being loaded. Check your network/resou

[2015-06-18 07:42] SWalls commented on #123
Thanks for responding so quickly, but unfortunately none of those were the source of the error.

Fluidbox is the very first script being loaded after jQuery (which is the first script), I've confirmed jQuery is not in compatibility mode (checking `$ === jQuery` does indeed return `true`), and the console reports a status code of 200 for the file `jquery.fluidbox.min.js` (until it's cached, at whic

[2015-06-18 09:08] SWalls commented on #123
Sorry for such a mysterious use-case, I've been trying to figure this out for that past 6 hours. If I may recommend something, perhaps it might be worthwhile to allow an alternate method of invocation for times when jQuery behaves unpredictably. Maybe something like:
[code]

[2015-06-18 09:24] SWalls commented on #123
I figured it out! Something deep in my code was dynamically adding another jQuery file to my `<head>` tag, so I was effectively loading two different versions of jQuery, without calling `noConflit()`, which is a very bad idea. Sorry to have wasted your time, I was totally convinced nothing was wrong on my part. I just which the console had warned me of this in some way, jeez.

[2015-06-18 09:24] #123 closed

[2015-06-26 07:11] Daniel0524 commented on #111
In a similar vein, I discovered a [Codepen by you](http://codepen.io/terrymun/pen/mvHky/) whose implementation of a responsive image grid I really liked, that led me to your Fluidbox plugin which is also super cool, but I can't seem to get the two to work together.

Is this possible or no?

[2015-06-30 08:22] terrymun commented on #120
Data is used in order to store the relevant image dimensions in an easily accessible object form—manually initialising objects for each Fluidbox instance is probably going to be messy.

[2015-06-30 08:22] #120 closed

[2015-06-30 08:23] terrymun commented on #119
That was implemented in v1.4.0.

[2015-06-30 08:25] terrymun commented on #117
See #52 and #117, and the readme.

[2015-06-30 08:25] #117 closed

[2015-06-30 08:25] terrymun commented on #118
Well there was never supposed to be a page there...

[2015-06-30 08:25] #118 closed

[2015-06-30 08:30] terrymun commented on #111
@Daniel0524 I would assume that you have simply try to load both scripts at the same time? I wouldn't expect that to work out of the box for one reason—the responsive image gallery listens on the `$(window).load()` event, to ensure that the layout is only made when image dimensions are available. This means that the layout is finalised *after* Fluidbox has been implemented (assuming that you are b

[2015-06-30 08:31] #96 closed

[2015-06-30 08:38] #108 closed

[2015-07-02 06:44] sbrl opened #125 "Can I use this without jQuery?"
I found the README unclear - ~~perhaps~~ I missed something.

[2015-07-02 09:30] terrymun commented on #125
Yes, you do need jQuery. That is [explicitly stated in the readme](https://github.com/terrymun/Fluidbox#dependencies).

[2015-07-02 09:30] #125 closed

[2015-07-02 11:38] sbrl commented on #125
Ah shame. I guess I will have to find another lightbox... Thanks anyway :)

[2015-07-06 12:53] ninetienne opened #126 "Bower update"
Please update Bower package to 1.4.4. Thanks!

[2015-07-21 22:52] marktoce opened #128 "Disabling Fluidbox on mobile devices"
Hello,

What is the best method for disabling Fluid box on mobile devices?

Thanks!

[2015-07-26 13:55] paul-frost commented on #106
Thanks Terry

[2015-07-26 14:00] paul-frost opened #129 "Is it possible to only work with a JPG?"
Is it possible to configure it to only apply to a JPG, so PNG's & GIF's are ignored?

[2015-07-26 16:53] r043v commented on #129
just apply the plugin onto the good selection ..

link to jpg :
$('a[href$=".jpg"]').fluidbox();

link to jpg with a picture inside :
$('a[href$=".jpg"] > img').parent().fluidbox();

[2015-07-26 21:07] paul-frost commented on #129
Thanks for that.
But I still have a problem because I'm using this in a CMS teaxtarea and the wrapping of inserted images automatically adds the ahref, so I've stopped fluidbox working on it but now it just opens in a new tab, which is probably worse. I'll need to look at how to exclude the ahref being added to non JPG's.

[2015-07-27 09:38] r043v commented on #129
you can try cancel the click event on gif & png links

$('a[href$=".jpg"]').fluidbox();
$('a[href$=".gif"],a[href$=".png"]').on('click',function(e){ e.preventDefault(); });

[2015-07-27 09:41] terrymun commented on #129
Using attribute selectors to restrict Fluidbox to specific anchor elements based on the `href` value should work, as per @r043v's suggestion.

[2015-07-29 10:30] paul-frost commented on #129
All good, really useful, thanks r043v

[2015-07-29 10:30] #129 closed

[2015-07-30 09:16] Jonathlee commented on #128
https://css-tricks.com/enquire-js-media-query-callbacks-in-javascript/

or

http://detectmobilebrowsers.com/

[2015-08-03 11:42] terrymun commented on #128
Simply not implement Fluidbox on mobile devices? It might not be a good idea to sniff for the user agent—instead, you should decide if you want to bind Fluidbox or not depending on the screen resolution.

Fluidbox's code base is being rewritten to conform to the standard jQuery plugin format, so you should be able to destroy any instances after initialising it. It will be shipped as v2.

[2015-08-03 11:42] #128 closed

[2015-08-03 11:42] terrymun commented on #126
I believe that has been done.

[2015-08-03 11:42] #126 closed

[2015-08-06 02:17] ldblecher opened #130 "Zip File index.html not working"
After downloading the zip file of this github project, I opened up the index.html file to test it out, and whenever I click on an image, it just brings up the image in a separate screen. No fluidbox effects or anything. I tried implementing fluidbox on my own project, and the same thing happens. I didn't alter the files in the zip at all after downloading them, so I am curious as to why the fluidb

[2015-08-09 19:15] terrymun commented on #130
That is because the resources are loaded with a protocol agnostic url, i.e. `//path/to/file`, instead of `http://path/to/file` or `https://path/to/file`. A quick fix would be to append `https:` to all these URLs. You can see from your error messages that your browser is attempting to load the files from a local directory, which of course do not exist.

[2015-08-09 19:15] #130 closed

[2015-08-11 20:58] sukritchhabra opened #131 ".fluidbox-ghost backgrounds are repeating"
* The images are being set as backgrounds to `.fluidbox-ghost` but `background-repeat` isn't defined which is causing it to repeat behind the border;

* Solution would be to set `background-repeat: no-repeat;` and that fixes it

![lightboxerror2](https://cloud.githubusercontent.com/assets/6703126/9210357/d3e224c8-4049-11e5-91ba-cef94bbc7c6a.png)
![lightboxerror1](https://cloud.githubusercontent.co

[2015-08-19 21:07] go-bears opened #132 "thumbnails aren't scaling to full size"
I'm trying to implement Fluidbox on my Google Summer of Code  2015 project for WebLogo, a bioinformatics visualization tool.  WebLogo is popular with biologists and has over 4000 citations. I'm refactoring the front end to be responsive to mobile devices, and I'm using fluidbox to display the example sequence logo images.  I had used fluidbox for a related small scale project and the images had zo

[2015-08-20 14:33] terrymun commented on #132
The image scaling in Fluidbox, by default, attempts to fill the viewport in its entirety (or by a certain fraction as dictated by the settings). However, if it detects an image not having sufficient dimensions to fill the viewport along either axis, it will fall back to the largest natural dimensions of the image.

The issue you are seeing is likely due to insufficient image resolution. This featu

[2015-08-20 14:33] #132 closed

[2015-08-20 15:18] voidale opened #133 "overlay on thumbnail how to make it play nice?"
Hey, lots of praise about this awesome plugin, It's really a great one, Thank you.

I'm trying to use fluidbox with existing overlay like this:
http://i.imgur.com/bJ4C3Z2.png

You can see I'm adding overlay elements on hover just to make sure the user knows he can zoom in, 2 problems I get with this approach:

1. clicking on the overlay will not open fluidbox because the click doesn't get to the <

[2015-08-21 13:17] #133 closed

[2015-08-21 13:36] dergraph commented on #128
pointer-events: none in a css query for mobile can prevent the event easily. thats how i did it

[2015-08-31 09:53] adi- opened #134 "fluidboxLoading animation is running all the time taking CPU %"

[2015-09-02 18:14] pygeek opened #135 "Npm + browserify (can't find variable jQuery)"
It seems like your plungin isn't browserify compatible. I'm installing using the latest version of npm and browserify, but it seems like your plugin is depending on jQuery being included separately in the head.

[2015-09-06 12:39] ismay opened #136 "component.json points to "fluidbox.js" instead of "jquery.fluidbox.js""
So installs through component and duo fail. Want a pr to fix this?

[2015-09-16 21:53] dtjohnso opened #137 "Prevent fluidbox from loading when a points to an anchor reference?"
I have an edge case that is incorrectly triggering fluidbox when images are wrapped in a link to an anchor somewhere on the current page.

My code will include a number of footnotes (generated automatically, I write in markdown and render to HTML using pandoc) that might look something like this:

[code]

Recently, my Wordpress theme (a child theme based on Twenty Thirteen) began replacing the ↩ c

[2015-09-16 22:51] terrymun commented on #137
For now, you can simply restrict your selector further, i.e. `$('a:not([href^='#'])')` to select for anchor elements that do not have the `href` attribute beginning with `#`. The reasoning behind why Fluidbox does not conditionally restrict initialisation based on the `href` attribute is to let users have the highest degree of control over the Fluidbox selectors.

[2015-09-16 22:56] dtjohnso commented on #137
Thanks, for the advice re the selector. I had forgotten that a selector was involved, so that's great as a quick fix.

[2015-09-18 17:22] THPubs opened #138 "The z-index and stackIndex values does not work properly"
In this page (https://188.166.247.70/products/P021962028 (I haven't modified the dns yet so ignore the ssl error)), I have added fluidbox. When I click an image, it enlarges. But the category menu goes right through the image! I gave the image a higher z-index but it won't work. How can I fix it?

PS : The category menu is from bootstrap.

[2015-09-18 17:28] terrymun commented on #138
In order for Fluidbox's overlay to fully cover the page, it has to be in a parent that has the same stacking context as your menu. You can assign `position: relative` to their parents that are at the same level in the markup, and them assign the parent containing Fluidbox the higher z-index.

[2015-09-19 01:41] THPubs commented on #138
Great thanks! One problem... Giving a higher z-index to the section fix the fluidbox. But now the dropdown menus will be hidden!

[2015-09-19 15:06] THPubs commented on #138
Thanks a lot for the help :-) Just fixed the issue by adding this function to the onclick even of the link :

    <script>
        function setOverlay() {
            console.log("done");
            if ($('.inner-content').css('position') === 'relative') {
                $('.inner-content').css('position', 'static');
                $('.inner-content').css('z-index', 'auto');
            } else

[2015-09-21 10:36] davmuse opened #139 "max-width"
In addition to the `viewportFill` options, would it be possible to add a sort of `max-width` option for the target image ? (It could be interesting to target a high resolution picture (@2x) for retina display)
Thanks

[2015-09-21 11:33] terrymun commented on #139
This is a very interesting (and poignant) question. I have given it some though, and the issue seems to be two-fold: how should we deal with scaling? Should we:

1. Allow users to restrict the scaling of the ghost element, to ensure that pixel densities are respected (hence keeping the images crisp)
2. Allow users to specify high resolution alternatives for different screen resolutions?

It isn't

[2015-09-21 11:34] terrymun commented on #136
Thanks for raising the issue. This will be fixed in v2 :)

[2015-09-21 11:36] terrymun commented on #135
I have no experience working with Browserify. Could you recommend how this can be rectified?

[2015-09-21 11:37] terrymun commented on #134
This shouldn't be the case, because the animation is only enabled when the `.fluidbox-loading` class is there.

However the entire codebase is being rewritten as we speak, and I will ensure that this excessive CPU consumption does not go away unfixed.

[2015-09-21 11:37] #134 closed

[2015-09-21 11:37] terrymun commented on #131
This will be fixed in v2 :)

[2015-09-21 11:37] #131 closed

[2015-09-21 11:38] #137 closed

[2015-09-21 11:40] adi- commented on #134
Ok, but this doesn't concern FireFox. Animation, when hidden, is still computed...

[2015-09-21 11:47] terrymun commented on #134
It is not hidden, but the class has been removed. The animation is only applied to the loader when the `fluidbox-loading` class is added. The class is removed once the target image has finished loading, and should therefore no longer be rendered.

[2015-09-21 11:48] adi- commented on #134
Maybe should, but it is not in FF.

[2015-09-21 12:18] davmuse commented on #139
I see the problem in a simpler way : the aim of your plug-in is not to handle retina or non-retina images ... (as you say somewhere, it has to keep simple and usable by people like me who are not jquery specialists, and that's what I appreciate ! ). Personally I use oversize images to have a better images rendering on retina display.

My suggestion is more basic : aesthetically, i prefer to contro

[2015-09-22 15:37] cregx opened #140 "Fluidbox picture appears always at the bottom of the page."
When I implement the basic configurated Fluidbox in a page, the opened picture appears only at the bottom of the page - sometimes in an unvisible area. This happens only in Firefox, Chrome but not in Internet Explorer 11.
Only when I use the deployed styles.css the behavior is like expected, but this destroys my own css style.

[2015-09-22 15:38] terrymun commented on #140
If you use the deployed CSS and the plugin works, then it is not an issue with the plugin *per se*. You should them look at what are the overwritten styles between your own stylesheet and the one that came with Fluidbox.

[2015-09-22 15:38] #140 closed

[2015-09-22 23:01] cregx commented on #140
I'm not sure if this is an issue, but I have to add body{ height: 100%; }" to my main.css and then it works in chrome and firefox also.

[2015-09-23 06:36] terrymun commented on #140
Does your page have insufficient content to fill the viewport completely? If that's the case it might be explaining the visual glitch you are seeing.

Otherwise create a reproducible, minimal example on JSfiddle or the likes, and we can have a look at it.

[2015-09-24 16:49] davmuse commented on #139
So I tried to add this option : i added a `maxWidth` option (0 = default behavior, x = maximum width)

[code]

and two test-lines :

[code]

[code]

**and it works as I wanted !**

this is in this part of the code

[code]

Thanks and I wish you courage for your massive code revision.

[2015-10-01 20:37] SubZane opened #141 "fluidbox.less Line: 55"
is
[code]
should be
[code]

[2015-10-01 20:44] terrymun commented on #141
The LESS file has been deprecated. Fluidbox is now using SASS :) you're likely to be looking at an old release.

[2015-10-01 20:44] #141 closed

[2015-10-01 20:52] SubZane commented on #141
Ah Understood :) However. The latest release available through bower is 1.4.3 and that release has a LESS file. Is the bower release old then maybe?

[2015-10-01 20:58] terrymun commented on #141
I am not sure why the LESS file is still being distributed—I'll have a look at it.

[2015-10-01 21:02] SubZane commented on #141
Cool. Anyway when using the SASS or CSS instead from you master bransch everything works as intended again :)

[2015-10-01 21:20] terrymun commented on #141
Thanks! I'm rewriting the code base for v2, and will be using grunt to compile all the sources—that should tie up all the loose ends :)

[2015-10-02 16:22] maxee opened #142 "Code revision: Implement Gulp.js and simplify directory tree"
As suggested in one of my MR #107, using gulp.js would make development easier.
Maybe this can be included into the v2 code revision.

[2015-10-02 16:23] terrymun commented on #142
Thanks for the heads up @maxee! I have decided to work with grunt for development and distribution.

[2015-10-02 16:24] maxee commented on #142
@terrymun perfect! Yeah if gulp or grunt, that doesn't matter. Both do a good job :)

[2015-10-02 23:11] monopine opened #143 "OpenEnd and CloseEnd events fire on page load, not on event"
The expected behavior of the custom events OpenEnd and CloseEnd is that they fire according to their description. However, in FF, Chrome and Safari, the events fire inside document.ready(), on initial page load

Example:
$('.zoom').fluidbox()
  .on('openend', console.log('openend'))
  .on('closeend', console.log('closeend'));

[2015-10-02 23:24] terrymun commented on #143
That is strange, and unexpected indeed. Are you able to reproduce the issue on the [demo page](http://terrymun.github.io/Fluidbox/#custom-events)? When I checked the events are triggered as expected and I wasn't doing anything different.

Otherwise, create a minimal example and I'll have a look at it.

[2015-10-03 01:13] monopine commented on #143
http://codepen.io/monopine/pen/vNxJJp

[2015-10-06 09:58] terrymun commented on #143
Very strange indeed. I can reproduce your issue in your codepen, but not on a local copy of Fluidbox.

[2015-10-06 13:17] SndrL opened #144 "Implement slider"
First of all thank you for this wonderful plugin!

Wouldn't it be great if a user clicks on an image, fluidbox opens, and it kinda acts like a slider for the following images?

[2015-10-06 13:19] terrymun commented on #144
This is analogous to the gallery feature requested—and it has been discussed that this feature will not be implemented to keep Fluidbox simple. See #52.

[2015-10-06 13:19] #144 closed

[2015-10-06 13:26] SndrL commented on #144
:+1: Thanks for the response, I completely agree with your decision to keep it simple. Although I think in some situations a gallery/slider function would be awesome! We'll see what future forks bring :)

[2015-10-16 09:27] aaronstezycki opened #145 "Scroll enhancement"
A small addition to UX, instead of a user scrolling down and just getting a white a screen, after say 1s of scrolling, the opened image returns to its initial  pre-clicked state.

[2015-10-16 19:03] terrymun commented on #145
You can customise what triggers the Fluidbox closing method via the `closeTrigger` setting—please refer to the documentation on usage. However, this method cannot be modified (like the timeout you suggested) unless you change the source. This issue will be mitigated in v2.

Fluidbox aims to give the end-user the largest degree of control, and therefore does not set out to dictate what kind of inte

[2015-10-16 19:03] #145 closed

[2015-10-16 23:01] terrymun commented on #142
Grunt has been installed, check the latest release ;) thanks for all the advice!

[2015-10-16 23:01] #142 closed

[2015-10-16 23:02] terrymun commented on #136
component.json has been removed from the v2 release.

[2015-10-16 23:02] #136 closed

[2015-10-16 23:03] #116 closed

[2015-10-16 23:03] terrymun commented on #111
`<picture>` is now being officially supported in v2.x.

[2015-10-16 23:03] #111 closed

[2015-10-16 23:05] terrymun commented on #139
The `maxWidth` and `maxHeight` options are available as of v2.x :)

[2015-10-16 23:05] #139 closed

[2015-10-16 23:06] #106 closed

[2015-10-16 23:06] #138 closed

[2015-10-16 23:06] #95 closed

[2015-10-17 13:31] terrymun commented on #143
Tested with v2.0, the issue appears to be fixed now: https://jsfiddle.net/teddyrised/d6c4er30/

[2015-10-17 13:31] #143 closed

[2015-10-19 07:32] aaronstezycki commented on #145
Thanks @terrymun, can't wait for version 2.

[2015-10-19 07:32] terrymun commented on #145
v2 is already released ;) still working on the CDNJS update though.

[2015-10-19 07:34] aaronstezycki commented on #145
:+1:

[2015-10-19 14:09] aaronstezycki opened #148 "Doesn't 'really' support different ratios"
If image thumbnails are a different size to that of the expanding image, there usually a visual jump between the thumb and the enlarged images.

It's probably best to advise developers that thumbnails *should* be the same ratio as the enlarged image to stop clunky animations.

You can see this directly from your demo page. When the enlarged image (3840x2k) scales down to match the thumbnail (200 x

[2015-10-19 14:13] terrymun commented on #148
I think it's a bit of an interpretation issue. If you look back towards the earlier incarnations of Fluidbox, it only supports opening images that have the exact same aspect ratio as the thumbnail. By intuition it is obvious that Fluidbox will work best with images of identical aspect ratios.

There is no easy way to fix this visual compression issue when dealing with differential aspect ratios, a

[2015-10-19 14:13] #148 closed

[2015-10-20 12:02] aaronstezycki opened #149 "Blurred Images?"
Hi Terry,

Thanks for your help so far, and good plugin!

I have a problem in Safari which seems to blur the images when clicking on the thumbnail. Ive seen some of your demos, and this doesn't seem to occur. So really I'm just asking for advice on your implementation. This doesn't seem to occur with any other browser, and the blurring seems linked to the transform scale property? I can't produce

[2015-10-20 21:22] terrymun commented on #149
Yes, I have came across this before. The weird thing is that whenever you create a new stacking context within the Fluidbox element, the transform of the ghost image appears to blow up a smaller version of the raster image, causing it to be pixelated. The only workaround is to avoid creating new stacking contexts within each Fluidbox instance.

The read me contains a rather long (but likely non-ex

[2015-10-21 09:11] aaronstezycki commented on #149
Yup @terrymun, it seems simply deleting/display:none on elements on the same stacking context fixes it. Its a shame, because it my nav menu!, which is a full screen menu that sits above the content. Getting rid of it increase clarity. Why oh why safari, must you be a pain in my ass.

Again, thanks for your help.

[2015-10-21 13:47] #149 closed

[2015-10-27 16:55] jaker09 commented on #123
SWalls, or terrymun, could you describe how you solved this problem. My code also seems to not be recognizing "fluidbox" as a function and i've tried all the other tests. I get true when $===jQuery, but I don't get a 200 in the network tab, i see a 304 unmodified. Is this the cause? I can describe my setup in more detail if needed. thanks.

[2015-10-27 22:06] terrymun commented on #123
A code 200 simply means that the item is fetched from the browser cache (because its header has not expired), while a code 304 means a browser checked if the file has changed (and finds out that it is unmodified).

I don't see any issue in the HTTP codes you are getting. Are you sure Fluidbox is being loaded?

[2015-10-28 01:09] jaker09 commented on #123
Terry,
thanks for the reply. the issue had to do with the location of the src information, i had it in the head rather than in the end of the body where it seems to be working fine. thanks

[2015-11-07 09:19] aramin opened #151 "FluidBox opens surrounding link (href) when image is opened in Firefox 41.0.2"
Yesterday I updated FluidBox from 1.4 to 2.0 and realized that in Firefox 41.0.2 the link of an image is opened after the image was clicked. I could hotfix that behavior with a e.stopPropagation() (directly after e.preventDefault()) in line 524.

[2015-11-07 09:26] terrymun commented on #151
If you need stop event propagation to stop an image from opening, it suggests that there's something else on your page that is muddling up Fluidbox behavior. Are you listening to a click event propagation higher up the DOM tree?

Also stopping event propagation would break a lot of things if implemented. For example, what if a user is listening to a bubbling click event to perform a silent AJAX re

[2015-11-07 09:33] aramin commented on #151
Thanks for the rapid response! :+1:
I also tried the demo-page and experienced the same behaviour (e.g. when I click on the single image http://terrymun.github.io/Fluidbox/demo/index.html#single-image). So I would assume that it's not related to my code/DOM-structure.

[2015-11-07 11:56] terrymun commented on #151
I am unfortunately unable to replicate your issue on v41 and v42 of Firefox tho.

[2015-11-07 13:23] aramin commented on #151
Maybe it's a Windows-only issue. I just tried it with FF 42 and im still facing the problem. I'll test it on monday on an OSX system.

The system where the error occured is as following:
Windows 8.1 Pro
Firefox 42.0

[2015-11-08 23:26] terrymun commented on #151
I have tested the demo page using BrowseStack, on both Windows and OS X FF v41. Still unable to reproduce your issue.

Do you have some plugins/addons that are installed on your browser that might potentially interfere with Fluidbox functionality? Ad-blockers, content filters and the likes, perhaps?

[2015-11-09 09:56] aramin commented on #151
Ok, I just tried it on a Mac with OSX Yosemite FF 42.0 and everything works like a charm.

[2015-11-09 20:10] aramin commented on #151
The problem is caused by the addon "AS Magic Player". So everything is fine and I'm sorry for the inconvenience.

[2015-11-09 20:10] #151 closed

[2015-11-24 14:58] SheepDomination opened #152 "srcset ?"
Hi, does Fluidbox work with srcset, rather then `<picture>` ?

[2015-11-24 16:57] terrymun commented on #152
Not that I know of, however, if the image source(s) (and hence dimensions) is/are updated upon viewport resize, Fluidbox should be able to handle that.

You can try testing it yourself, and report back if you have any issues.

[2015-11-24 16:57] #119 closed

[2015-11-25 17:05] SheepDomination commented on #152
scrset isn't working;

The image is an anchor; when clicking on the image anchor, instead of the first image which is part of the srcset loading, the same image that is for the anchor loads ?

[2015-11-26 11:22] andrejcremoznik opened #153 "Looking into optimizing CSS, want to discuss design decisions"
I find your take on the lightbox solution the best by far atm. There's still some things that could be done better.

1. Prefixes in CSS - I'd prefer to add grunt autoprefixer to handle this instead of poluting the code with something that needs to be maintained

2. Variables in CSS - need to namespace them and add `!default` flags. This allows them to be defined externally so developers can easily

[2015-11-30 14:26] afivos opened #155 "Parentheses in filename"
Let me start by saying I love Fluidbox. It's the best of its kind I've found so far.

I discovered that it won't work with images that include parentheses in their filenames. I troubled me quite a bit so I thought I'd let you know.

[2015-11-30 14:35] terrymun commented on #155
That is because you will have to escape the parentheses character—in other words, you will have to encode the URL in the anchor element, in conformance with RFC3986.

This issue has been raised before, but with other characters the needs to be encoded: #112 and #113.

[2015-11-30 14:35] #155 closed

[2015-11-30 14:39] afivos commented on #155
Ok, thanks for letting me know.

[2015-11-30 20:57] terrymun commented on #155
The decision to replace parentheses characters are being under due consideration, see #156.

[2015-11-30 20:58] terrymun commented on #152
Can you create a minimal, concrete and verifiable example?

[2015-11-30 21:46] DJDavid98 opened #157 ""Matt Bailey's excellent guide on setting up Grunt" now 404s"
The link (http://mattbailey.io/a-beginners-guide-to-grunt-redux/) used in the readme under "Building with Grunt" (as well as the "Special thanks" section) now displays a generic error page <del>instead of the useful resource it probably was at some point. I suggest that the sentence</del>

<del>should either be removed or updated with an equivalent guide.</del>

Apparently, it's because of the `/`

[2015-11-30 22:17] terrymun commented on #157
That error was discovered and reported to the author.

[2015-11-30 22:17] #157 closed

[2015-11-30 23:34] SheepDomination commented on #152
<p class="imgbox left">
                  <a href="/wdp/wip/paperpile.png" class="firstimg">
                   <img src="/wdp/wip/images/paperpile.png"
                    srcset="/wdp/wip/images/brick.jpg 320w,
                    /wdp/wip/images/bulding.jpg 560w,
                    /wdp/wip/images/rock.jpg 900w"
                      sizes="(min-width: 320px)"
                     alt="" title

[2015-12-04 00:13] SheepDomination commented on #152
Any idea ?

[2015-12-04 08:54] buditanrim commented on #149
Hello, I'm having this same issue while using wordpress
I realized it might be because of the wordpress admin bar have higher z-index. But apparently it isn't affecting at all after I successfully hard-coded it.

How to debug this? I am not sure what is wrong, I also get rid of all CSS that might cause creation of a new stacking context.

My issue is, after clicking the image, it's appear fluidbox

[2015-12-04 08:57] terrymun commented on #149
You can start debugging it by creating a reduced, minimal example that can reproduce your issue. The thing is that there are many ways a new stacking context can be created, and it is impossible for me to troubleshoot your code. The easiest way is to reproduce the page in question, static HTML and all—and rebuild the page carefully with selected components until something breaks.

[2015-12-04 08:59] terrymun commented on #152
I've been quite busy lately, so forgive the slow replies.

A quick fix would be to responsively change the anchor's `href` attribute according to the viewport size, in line with the specifications in your `srcset` attribute. Fluidbox does not currently have an internal function that changes the source of the background image that is dependent on screen/viewport size.

p/s: Updated your comment for

[2015-12-04 09:01] terrymun commented on #153
Strange—I swore I wrote a reply but it didn't show!

Anyway, the gist of my reply is that all your suggestions are very legitimate and can be easily implemented. The only exception is with point number 4—using translate3d has messed up rendering of the enlarged image for me on selected browser versions, and that hopefully in the near future modern browsers are smart enough to off-load transforms t

[2015-12-04 09:05] buditanrim commented on #149
Okay, I think the best way is just give this link
http://www.agustinegozali.com/golden-brown/

please kindly click on one of the image ( Especially the small images in row)
http://cl.ly/image/392c3J2C283B?_ga=1.117616329.154516982.1449219868

this is the css that I concerned
http://cl.ly/image/0w0W172F0i0m?_ga=1.117616329.154516982.1449219868

Thanks for your quick response, it's awesome.
I apprec

[2015-12-04 09:09] terrymun commented on #149
That is not an issue related to blurred images? I can only see that the CSS transform is failing (the `scale` is being set to `0,0`, which means your image will have zero dimensions).

Some questions:
1. Are you using a lazy load image plugin? Are the image source and dimensions unavailable to Fluidbox at runtime?
2. Is the image being hidden on page load/runtime?

[2015-12-04 09:15] buditanrim commented on #149
1. no, I didn't use any lazy load image plugin/jQuery
I believe the image source is available to Fluidbox at runtime, not sure about dimensions (What do you mean with dimensions?) - this is what I use in the back admin dashboard
<a class="fluidbox" href="'link/imagepath" rel="lightbox" data-fluidbox="">
<img src="link/imagepath"/>
</a>

2. I don't think so.. not that under my understanding.

The w

[2015-12-04 09:49] andrejcremoznik commented on #153
Do you remember which browsers caused problems? It might be a combination of specific css properties that's causing them not neccessarily 3d transforms.

[2015-12-04 16:24] SheepDomination commented on #152
I don't understand what you mean; when you say;
-- A quick fix would be to responsively change the anchor's href attribute according to the viewport size, in line with the specifications in your srcset attribute. Fluidbox does not currently have an internal function that changes the source of the background image that is dependent on screen/viewport size.--

[2015-12-05 05:55] buditanrim commented on #149
I am sorry, I think we are looking at different thing yesterday.
I still got my old cache on my laptop, now I can see the site is a little bit broken since I updated the new fluidbox js - looks like it has different classes in css.
I will fix this and get back to you

[2015-12-09 22:07] anthonyabraira commented on #67
That didn't correct it for me. Instead I found that the `animation: fluidboxLoading 1s infinite;` was doing it. I disabled it with a little CSS with rule: `.fluidbox-ghost:before { animation: none;}`

[2015-12-12 21:47] terrymun commented on #153
I honestly cannot recall that. The enlarged, rendered image has been a major issue because of how z-index works and that there are many possible CSS properties that can mess up the stacking index.

The current solution is the one that worked so far, so I don't see a major incentive to change to CSS 3D transform unless there's a fatal flaw with its 2D counterpart.

[2015-12-13 07:25] terrymun commented on #153
Most of your suggestions are implemented in 51a4779 :)

Looking out for any bugs, and will squash them before the next release.

[2015-12-13 07:29] terrymun commented on #152
Your issue is that Fluidbox references the same image regardless of screen size. Therefore you can programatically change this reference (Fluidbox reads from the `href` attribute of the anchor) based on viewport breakpoints that you have also specified in your srcset. Definitely not the most straightforward way, but...

If you have any further question I would suggest creating a concrete and minim

[2015-12-13 19:05] slimiles opened #158 "Transition Back doesn't Work"
Hi Terry

I found your really well done fluidbox today and wanted to test it and found, that the «back-transition» doesn't work. Is there a fix for this **issue**?

The transition doesn't work in your online example and as well in the downloaded git repository in this **browsers on OSX 10.11.1**: **Google Chrome** and **Safari** – both at the newest version.

[2015-12-13 19:27] terrymun commented on #158
I believe that has to do with autoprefixer mucking something up. I'll issue a hotfix ASAP.

[2015-12-13 19:59] terrymun commented on #158
Issue fixed in f4e9635.

The reason is because autoprefixer duplicates properties when prefixing—while this behaviour is desirable at times, it is not for the case of Fluidbox. This causes the line:

[code]

&hellip;to be generated, which will break the transition effect. Right now I will stick to manually prefixing this for `.fluidbox-ghost` only:

[code]

[2015-12-13 19:59] #158 closed

[2015-12-14 01:08] SheepDomination commented on #152
Do you have an email where I can reach you; so there isn't a large gap between communication and we can speed this up ?

[2015-12-14 01:10] terrymun commented on #152
I'm sorry, but I do not provide email support for publicly-released, free-of-charge and provided as-is plugins—it opens a dangerous precedent. [See point no. 5 in the FAQ section of the readme](https://github.com/terrymun/Fluidbox#frequently-asked-questions).

[2015-12-14 02:14] SheepDomination commented on #152
Here is a JSFiddle (http://jsfiddle.net/WildWind/r7d1085z/embedded/result/), there is no way to test within JSFiddle a responsive image the goal is; the image to which everyone will see is the paperpile image, when the user clicks on the paperpile image on a 320px width, for example, an iPhone.  The brick image should show, etc etc.

If I understand you correctly; I have to add like a min-width at

[2015-12-14 09:39] andrejcremoznik commented on #153
Nice, I'll have a look :)

[2016-01-11 12:11] rrikesh opened #161 "Bug with "scroll to close" example."
I'm having an issue with the [Custom Triggers](http://terrymun.github.io/Fluidbox/demo/index.html#custom-triggers) part where there's an example of scrolling to close an opened image.

After opening the example image, scrolling closes the Fluidbox as expected. However clicking on the image again doesn't open it again in the Fluidbox. The image is opened when it is clicked for the second time.

I g

[2016-01-13 09:15] terrymun commented on #161
Thanks for the heads up! It turns out that the `instanceData` object is not updated properly when a manual close event is triggered. This has been rectified in the commit ebd88e2.

This fix will also be reflected in the imminent v2.0.2 release :)

[2016-01-13 09:15] #161 closed

[2016-01-14 04:50] rrikesh commented on #161
Awesome, thanks!

[2016-01-22 10:32] gwendoux commented on #135
I had the same issue here.
You could use [browserify-shim](https://github.com/thlorenz/browserify-shim) meanwhile. Works fine.

[2016-01-27 13:21] ismay commented on #152
@SheepDomination I don't think that'll work. The image that fluidbox displays onClick is the image from the `<a href="this image">`. The `srcset` within the `<a>` will only be used for the thumbnail.

I think something like bbc's [imager.js](https://github.com/BBC-News/Imager.js/) could be useful here. If you run it before the fluidbox script you should be able to optimize all your images before f

[2016-02-11 12:42] superKalo opened #162 "Forgotten console.log Statement In Production"
Hey @terrymun,

Thanks for the great plugin!

I spot you left one console.log statement in production, here https://github.com/terrymun/Fluidbox/blob/master/src/js/jquery.fluidbox.js#L535 (also exists in the minified version). I believe it shouldn't exist in production ;-)

Greetings,
Kalo.

[2016-02-11 15:10] terrymun commented on #162
Thanks for the heads up! This has been resolved in the latest commit 5728db.

[2016-02-11 15:10] #162 closed

[2016-02-11 15:42] superKalo commented on #162
You're welcome :+1:

[2016-02-24 17:41] hambos22 opened #163 "Wrong path on bower.json file"
[Bower.json](https://github.com/terrymun/Fluidbox/blob/master/bower.json#L7) has a wrong path for the jquery.fluidbox.min.js

`"./dist/jquery.fluidbox.min.js",`

it should be

`"./dist/`**js**`/jquery.fluidbox.min.js",`

[2016-02-24 23:34] marcofugaro opened #165 "fluidbox-overlay not expanding to viewport if an ancestor has a transform property"
I just came across a little bug, if I apply Fluidbox to an element and its parent or any anchestor has a `tranform` property set, the white backgorund (fluidbox-overlay which has a `position: fixed` and top left bottom right to 0) expands only to that element and not the whole viewport.

This is due to [this css issue](https://aerotwist.com/blog/some-gotchas-that-got-me/#fixed-position-isnt-always

[2016-03-07 11:54] telakaya opened #166 "Dynamic blur overlay image?"
how can i add dynamic blur overlay image
` $(".ddda a").on('openstart.fluidbox', function () {

            var bakimg = $(this).attr("href");
            $(".overlay-3 .fluidbox__overlay:before").css("background-image", "url(" + bakimg + "))!important")
        });`
this not work :(

[2016-03-07 13:05] terrymun commented on #166
Unfortunately JS do not have access to pseudo-elements, because they are not part of the DOM. Therefore you will have to declare it from within a stylesheet, by either doing so in your CSS, or using JS to inject a `<style>` element in your document.

[2016-03-07 13:05] #166 closed

[2016-03-22 15:50] agrass opened #167 "Append fluidbox in the body tag"
There is a way to append directly the overlay and the fluidbox content in the body tag? I have some issues with absolute position and z-index because the fluidbox link is inside a lot of divs tags.

Thanks!

[2016-03-22 20:28] terrymun commented on #167
There is a way, but a long stretch. The reason why the overlay is nested within each Fluidbox instance is because it has to appear between the enlarged image, and the original thumbnail. And since the enlarge image has to animate from the original thumbnail's calculated dimensions, that means it has be placed within the immediate DOM vicinity of the latter, thereby restricting the possible placeme

[2016-03-22 20:28] #167 closed

[2016-03-27 22:07] Jugibur opened #168 "Blurry zoomed image in Chrome and Safari (OS X)"
See this comparings (right Firefox, left Chrome and similar Safari):
![screenshot 2](https://cloud.githubusercontent.com/assets/271000/14068103/e71513c8-f478-11e5-81c8-81c4b795d4a1.png)

This is, after clicking the image, loaded an highres image

[2016-03-27 22:10] terrymun commented on #168
When opening issues like this, *please*, create a **minimal, concrete and verifiable example**. There might be *many* other factors that influence how the image is rendered.

As long as this effect cannot be reproduced in the [Fluidbox demo](http://terrymun.github.io/Fluidbox/demo/index.html), it is likely due to a specific combination of styles that lead to blurring.

[2016-03-28 07:02] Jugibur commented on #168
Ok, I've made a minimal demo, with nearly no additional css and could reproduce the issue.
Please see:
[Fluidbox-blurred-image-demo.zip](https://github.com/terrymun/Fluidbox/files/191479/Fluidbox-blurred-image-demo.zip)

[2016-03-29 13:18] terrymun commented on #168
I unfortunately do not see what is wrong. The text is the linked PNG image is already blurry to begin with, and of course when it is opened in Fluidbox, it will remain blurry.

[2016-03-29 13:51] Jugibur commented on #168
Mmm, the thumbnail is another image file the the enlarged file.
So that sould not the issue, but only the enlarged image.
But if you dont' see any difference in the different browsers, the issue may be in my system.

Nevertheless thanks for your help and of course for your effort on Fluidbox!

[2016-03-29 13:53] terrymun commented on #168
From the different images I see, the blurring is not due to CSS scaling, but probably how browsers interpolate images. Odd values in CSS transforms should have no impact on the clarity of the images, because everything is passed on to the GPU, which interpolates the images and redraws it.

[2016-03-29 14:03] Jugibur commented on #168
Ok, thanks for your clarification. Perhaps / hopefully this browser issue may gone in the future...

[2016-04-19 11:23] Menda opened #169 "Close image on ESC or clicking outside"
It would be nice to have these features:
- If you click outside the image, you close it. It's a common behaviour now with so many touch devices.
- If you press the ESC button, you close the photo. Many viewers already implement this feature.

Greetings and thanks!

[2016-04-19 11:46] terrymun commented on #169
With regards to user actions that trigger closing:

- Clicking outside the image already closes it... have you tried that?
- Escape button (key code `27`) is not listened on, but you can manually bind it (using `$(document).on('keydown'...)`) and then trigger the `.close()` public function. The reason I chose not to implement this is because it's really up to the developer/designer to decide what

[2016-04-19 12:03] Menda commented on #169
Yes, I tried to click outside, but doesn't work at all. Maybe because I have a little bit special layer configuration and needed to customize the behaviour of Fluidbox. Regarding the second point, fair enough, it can be done also by the developer, nothing against about that. But also may be a good idea to include it as a option with default `false`?

[2016-04-22 08:15] mrtnsimo opened #170 "Breaks all other image links"
Hi,

I put fluidbox on my ghost. The images in function great now.

All other image links have stopped working though. The logo in top left corner no longer works. I also have images in the homepage post loop. These link to posts themselves and have also stopped working.

[2016-04-22 08:29] terrymun commented on #170
With no code or example, it will be impossible for me to help you troubleshoot. Here's what you can do:

1. Run the demo of fluidbox on your server. Does it work?
2. Implement that code on your site with minimal modifications. Does it work?
3. Keep adding other components until something breaks.

Check your console log in between and try to find where the error is coming from.

[2016-04-22 08:54] mrtnsimo commented on #170
Hi Terry,

thanks for the quick reply. I will try to provide some more context.

I am using ghost for our company blog and have made some slight modifications to the default casper theme. The problem with fluidbox occured in all image links outside that were not pard of content. These are images, e.g. logo that link to a different site.

These seem to fit the definition of fluidbox selector even t

[2016-04-22 09:02] terrymun commented on #170
You can just use a more stringent selector for the anchor links that you want Fluidbox to initialize with, e.g. `$('.content a')` or the likes.

[2016-05-24 10:43] #163 closed

[2016-05-25 10:48] roelvanduijnhoven commented on #168
I am also experiencing this!

In my use case the image shown as thumbnail and the one enlarged are using the same image source.

When I inspect the image when it is enlarged I see that it has a width of 799.8 instead of 800. Due to the scaling I suppose. This could be related to it.

However when I adapt the scaling values so the dimensions are correct (800x600) using the Chrome dev tools it still

[2016-07-06 14:44] roelvanduijnhoven commented on #168
Any update on this? We're still experiencing this bug.

[2016-07-06 14:52] terrymun commented on #168
I am sorry for the slow reply, but I am currently extremely busy right now, and am unfortunately unable to devote any resources to fixing this issue. Again, I am unable to reproduce this issue on OS X, on Chrome, Firefox and Safari.

I am open to any PRs that can resolve this issue.

[2016-08-16 08:00] mmintel commented on #135
@gwendoux i was trying it with browserify-shim but I am still getting the jQuery missing error. Can you tell me how you solved it? I am not so familiar with browserify-shim, here is my code of package.json

[code]

[2016-08-17 04:04] dbalders commented on #168
I had this issue, but was on 1.4.3. Updated to latest release and it is now gone

[2016-08-17 10:25] gwendoux commented on #135
@mmintel Do you include jquery in your package.json ? When you open the result of your browserify operation,  jquery is it included ?

[2016-08-17 11:39] mmintel commented on #135
@gwendoux yes jquery is included in my dependencies, it also works with browserify.

[2016-08-18 22:15] monopine opened #172 ""Gallery" function?"
Hi,

Curious if you've considered or explored a 'gallery' function. i.e. once the initial image is lightboxed, scrolling between additional images in a collection.

Love to know what you think.

Thanks,
Brian

[2016-08-19 08:55] terrymun commented on #172
See #52.

[2016-08-19 08:55] #172 closed

[2016-08-25 10:57] SimonFricker opened #173 "Gallery navigation"
Please add gallery navigation to the next release. Eg, using left and right arrows to navigate to the next/previous one.

[2016-08-25 11:54] SimonFricker opened #174 "PDF support"
Can you add PDF document preview for when the fluidbox is open?

[2016-08-25 16:57] paul-frost commented on #173
I'm sure Terry is getting fed up with people repeatedly asking this question. It was only asked and replied to in issue [#172](https://github.com/terrymun/Fluidbox/issues/172) 7 days ago (the previous issue in fact).

Can I suggest that you look at the Closed issues before posting a question, as there is a good chance the question has been asked before. Terry provides this code for free, but the t

[2016-09-30 00:03] janstieler opened #175 "After the modal is shown the image opens again in normal mode"
Hi,
I used the fluidbox really basically
`jQuery('.articlebody a[rel="fluidbox"]').fluidbox();`
The JS create this HTML
[code]
My problem now is that I have clicked the anchor the image is open in the modal and after this the image is open like you clicked the anchor without the modal.
It shows the image directly as a page.

What I#m doing wrong?

Cheers

[2016-09-30 00:22] janstieler commented on #175
Sorry for that post. I commented out all the selfwritten JS. And I looks like that I have an conflict.

[2016-09-30 00:22] #175 closed

[2016-09-30 21:45] terrymun commented on #174
You can definitely hack your way to do that, using the [published calculations](https://medium.com/coding-design/presenting-fluidbox-9c7fe9db92c7#.1evedr626) performed in the plugin itself.

Remember that Fluidbox is meant to be a simple, minimalist image viewer.

[2016-09-30 21:45] #174 closed

[2016-09-30 21:45] terrymun commented on #173
See #52.

[2016-09-30 21:45] #173 closed

[2016-09-30 21:47] #153 closed

[2016-10-08 11:05] janstieler opened #176 "viewportFill doesn't scale up an image"
Hi,
viewportFill doesn't work.
It scale not my image it open it in the same size I have it in HTML. Is a second bigger image needed for that?
Is there a possibilitie to scale up a image?

Cheers

[2016-10-08 11:43] terrymun commented on #176
I don't think this was mentioned explicitly on the readme, but it is briefly talked about on the demo page itself:

Therefore, if your image does not have the necessary resolution to fill up the viewport, the viewportFill option will be ignored. There is no way to blow up an image unless you provide a higher resolution alternative.

You can hack your way through this restriction by modifying the c

[2016-10-11 09:26] terrymun commented on #176
This issue will be closed due to non-activity and because it is a deliberate design decision.

[2016-10-11 09:26] #176 closed

[2016-10-11 09:27] #170 closed

[2016-10-11 09:28] terrymun commented on #152
Thanks @ismay for the clarification. This issue will be closed because of no further recent activity.

[2016-10-11 09:28] #152 closed

[2016-10-15 14:35] sarahquigley opened #177 "Main section of Bower config does not work correctly with Wiredep"
Hi @terrymun ,

I use [Wiredep](https://github.com/taptapship/wiredep) for automatic injection of dependencies in many of my projects (technically I use [grunt-wiredep](https://github.com/stephenplusplus/grunt-wiredep)). I'm using _Fluidbox_ in one of my projects, and found that you have configured the `main` section of your `bower.json` file in a way that isn't compatible with _Wiredep_. (_Wirede

[2016-10-15 14:37] terrymun commented on #177
Hi @sarahquigley, sure, submit a PR if that's not too much trouble for you, that is very much appreciated. I have not worked with Wiredep before so I wouldn't know how to get bower.json configured properly for that purpose—but if this is going to help other people with integrating Fluidbox with Wiredep, why not? :)

[2016-10-15 14:58] sarahquigley commented on #177
Thanks so being so quick to respond @terrymun! It would be my pleasure to put together a PR - I'll do so this weekend. It'll be a small change. I have plenty of projects using Wiredep to check the fix on. :)

Thanks again! If only all project maintainers were so responsive!

[2016-10-21 07:48] Gaya commented on #168
I've created two demo pages. One has the blurry zoom and the other is crisp. I've dug into in for quite some time yesterday, but couldn't really pinpoint what the difference between the two situations were.

Hope this will help others:

[http://fluidbox-crisp-safari.jouwweb.nl](http://fluidbox-crisp-safari.jouwweb.nl)
[http://fluidbox-blurry-safari.jouwweb.nl](http://fluidbox-blurry-safari.jouwweb

[2016-10-21 11:00] terrymun commented on #168
Ok, I manage to narrow it down to an issue that has specifically to do with overlapping/positioning of the overlay and the image.

I have made some tests (on the blurry example) and summarised the results, performed on macOS Sierra Safari v10:

| Scenario | Outcome |
|---|---|
| No modifications | Blurry |
| Remove `z-index` on `.fluidbox__overlay` (so that overlay covers the ghost image) | **Not

[2016-10-21 11:32] Gaya commented on #168
Thanks for the thorough summary. I was planning to do the CSS method you're suggesting before, but wanted to share the problematic templates first.

Will try to narrow the problem down and will report back after.

[2016-10-21 12:21] Gaya commented on #168
I seem to have found out what's happening, and I am not liking this at all.

Seems like there are some wrapping containers which have `padding` this caused the `.fluidbox__overlay` to be not positioned correctly. Safari is not taking `top` into account and tries to put the overlay on `bottom`. What happens is is that I in some cases see the overlay not fully stretched to the top.

To fix this I ad

[2016-10-21 12:44] terrymun commented on #168
That is indeed a very strange bug with regards to the rendering engine Safari is using, but I'm relieved that you found a fix! An issue with me is that people report issues of blurry images but failed to provide a workable example that I can help diagnose, but you definitely did.

For the `padding` issue, do you mean extraneous padding added to any of the injected Fluidbox elements (that are beyon

[2016-10-21 12:51] Gaya commented on #168
It was our containers with extra padding (and I think some other conditions) that cause the overlay not to be displayed correctly and thus causing the image blur bug. Almost feels like something went wrong in Safari and the next step, to render the image, is ignored.

Will add a PR for the fix!

[2016-10-21 13:23] #168 closed

[2016-10-26 13:20] l2aelba opened #179 "Bug (low) : Duplicate .fluidbox__overlay if href is wrong path (404)"
I just report a bit bug here : When `href` set with a wrong path

**Example :**
[code]

When I clicking `<a>` so `.fluidbox__overlay`will appended each time. _(10 times = 10 .fluidbox__overlay)_

[2016-10-26 13:27] l2aelba opened #180 "Tut : How to make Fluidbox works with Lazysizes"
**I just made a tuturial + tricks here** _(Since many issues about this)_

I will show how to get it work with https://github.com/aFarkas/lazysizes

**HTML :**

[code]

**JS :**
[code]

**Done !**

**Any better trick, so just well come**

[2016-10-26 15:19] terrymun commented on #180
Thanks for the suggestion. It is probably useful for others who are working with Lazysizes, even though there have been no reported issues about integrating the two.

I believe it's a matter of implementation and not a bug itself, so I will be closing this.

[2016-10-26 15:19] #180 closed

[2016-10-26 15:41] terrymun commented on #179
This arises due to `transitionend` events not being fired on the ghost element if the image fails to load, because no calculations and hence scaling will take place.

This issue is fixed in 465adbb.

[2016-10-26 15:41] #179 closed

[2016-10-27 07:16] l2aelba commented on #180
@terrymun Yep, just close this. Maybe I useful for someone who's searching

[2016-12-10 13:16] andr3ytd opened #181 "Dosen't work on Wordpress"
I'm not a developer but did try to install following your steps.

Got all 4 required files in the footer, now all I want is to be able to open the lightbox with something like:

`<a href="/path/to/image">`
`<img src="/path/to/image" alt="lorem ipsum" />`
`</a>`

I've tried https://github.com/fat/zoom.js and manage to install it few minutes, but unfortunately I want an `<a href="/path/to/image">` n

[2016-12-10 14:03] terrymun commented on #181
Can you be more specific about what do you mean by "it doesn't work"? Can you share your markup? Perhaps create an example on JSfiddle? Did you check your browser console log for error messages? Are all components and dependencies properly loaded?

[2016-12-10 14:44] markaharper commented on #181
Hey andr3ytd,

Try adding: data-fluidbox

<a href="/path/to/image-full" data-fluidbox>
<img src="/path/to/image-thumb" alt="lorem ipsum" />
</a>

I too have opted for fluidbox over fat's zoom.

Thanks terrymun!

[2016-12-10 15:30] terrymun commented on #181
@markaharper Yeah, there is also an issue about initialising Fluidbox properly. @andr3ytd make sure you are using the appropriate selectors when using Fluidbox.

[2016-12-10 15:56] andr3ytd commented on #181
Thanks for the reply.

I get no error in console, have a look live: http://mihaicotovanu.ro/newsite/index.php/project/tablou-01/

Probably this is the problem "using the appropriate selectors"

[2016-12-10 16:55] markaharper commented on #181
@andr3ytd

You have jquery installed twice:

Once with the wp install at the top (jquery.js?ver=1.12.4)

And at the bottom with fluidbox (jquery.min.js).

Try removing the bottom version.

Fluidbox is awesome once it's running.

[2016-12-10 17:02] andr3ytd commented on #181
Oh, fixed that. But still not working :(

[2016-12-10 17:04] markaharper commented on #181
@andr3ytd

The image now has data-fluidbox="" - I think it needs to be just: data-fluidbox

[2016-12-10 17:12] markaharper commented on #181
@andr3ytd

Try this.

On the image add: class="fluidbox-popup"

Then save the follow as fluidbox-popup.js

[code]

Add fluidbox-popup.js to your page after: jquery.fluidbox.js"

Fingers crossed.

[2016-12-10 17:16] andr3ytd commented on #181
WP keep adding ="" at the end, tried a plugin to stop playing with my code but didn't work. Will go for a more simple lightbox. Really wanted this for the animation...

[2016-12-10 17:26] markaharper commented on #181
@andr3ytd

The js I supplied will not function in wp.

Try this instead:

[code]

Fingers crossed.

[2016-12-10 17:29] andr3ytd commented on #181
Yes! finally working. Would be great if this would work for `<a href="/path/to/image"><img src="/path/to/image" alt="lorem ipsum" /></a>` without adding the class, but I'm happy for now.

Thanks!!

[2016-12-10 17:53] markaharper commented on #181
@andr3ytd

To eliminate the hassle of adding class="fluidbox-popup" to the link, test this:

[code]

One more thing: a simple fix to the fluidbox.css file.

See how the image displays UNDER your navbar?

To have the image display ABOVE the navbar, add z-index: 1031; to line 31 of fluidbox.css:

[code]
to...
[code]

And to better controller the image size, within the js add and then adjust the view

[2016-12-10 18:35] markaharper commented on #181
@andr3ytd

A little correction. My error.

According to the docs, the z-index can be controlled within the js via: stackIndex.

[code]

Please note, use the id and/or class selectors on links for different purposes and/or devices: desktop, tablet, mobile.

[2016-12-10 18:39] andr3ytd commented on #181
Don't worry about z-index that I can take care.
Looks like it doesn't work.

I was looking intro this: http://stackoverflow.com/questions/8363788/jquery-how-do-i-select-img-src-inside-href ( but failed to integrate )

[2016-12-10 19:08] markaharper commented on #181
@andr3ytd

Maybe this will work

[code]

[2016-12-10 19:24] andr3ytd commented on #181
That worked!

[2016-12-10 19:38] markaharper commented on #181
Fantastic! Enjoy!

I use fluidbox all the time.

Here's an example:

http://www.senior-photos.com/

[2016-12-13 11:57] #181 closed

[2017-02-01 15:24] Mesoptier opened #183 "Outdated version on npm"
Latest version on npm: `2.0.0`
Latest release on GitHub: `2.0.4`

Can you publish the updated package?

[2017-02-06 21:36] olafgleba opened #184 "imageloaddone.fluidbox doesn't fire"
Hi,

with version 1.4.3 i **successfully** use folllowing code to show an (animated) indicator (only) while loading the target image source:

[code]

With the last stable version 2.0.4 there are some changes how to call the events and naming, but  the custom event `imageloaddone.fluidbox` seems to be still available though. Unfortunately the `imageloaddone.fluidbox` **doesn't get triggered** in th

[2017-02-06 21:43] terrymun commented on #184
I can see that at some point the `imageloaddone` event trigger is removed from the source. I will add it back it and do some unit tests, before releasing a fix. Thanks for highlighting it.

[2017-02-06 21:45] terrymun commented on #183
Thanks for highlighting it. I will do that in due time.

[2017-02-06 21:46] olafgleba commented on #184
Great! Thanks a lot.

[2017-02-07 10:20] Mesoptier opened #185 ""Single image" example on demo page does not open"
Tested in a bunch of common browsers (Chrome 56, Firefox 51, IE 11, etc.). I can see some classes/styles being added, but the images does not move to a fullscreen overlay.

http://terrymun.github.io/Fluidbox/demo/index.html#single-image

[2017-02-21 19:58] bennyb opened #186 "data-fluidbox-max-width no working correctly."
Hoping to give each elements it's own max width as some I need to allow for some caption text to the right.  But setting the max-width data attribute seems to make the image shrink when clicked.

See example.
https://jsfiddle.net/bennyb/f3z8f2kz/

[2017-02-22 07:14] terrymun commented on #186
I confirm that the is a bug. This is due to the erroneous coercing of HTML5 `data-` attribute values into `true`, when it is not `false`. Fixed in 46c19a2 :)

[2017-02-22 07:14] #186 closed

[2017-02-22 07:15] terrymun commented on #185
Seems like the link is broken due to accidental insertion of two `ss` characters. Fixed in 0698be5.

[2017-02-22 07:15] #185 closed

[2017-02-22 07:22] terrymun commented on #184
This is now fixed in 1beb60c :)

[2017-02-22 07:22] #184 closed

[2017-02-22 07:31] terrymun commented on #183
Fixed in e5c3218. Will make a mental note to bump version updates before every release :)

[2017-02-22 07:31] #183 closed

[2017-02-22 12:45] bennyb opened #187 "Update max-width"
Thanks for the super quick fix on data-fluidbox-max-width issue.

I want to amend the max width depending on browser width.  So i'm adjusting the data-fluidbox-max-width value on resize but fluidbox uses the old values.  Any way to refresh and use the new-max-width values.

[2017-02-22 12:53] terrymun commented on #187
Is there any reason why you want to do that? Fluidbox already attempt to fit the image to the viewport dimensions—there is no need to dynamically adjust the `data-fluidbox-max-width` property. Also, the property is only read when Fluidbox initialises and it's stored internally within each instance, and there is so far no API to modify that.

You might want to try looking at the `viewportFill` sett

[2017-02-22 12:54] terrymun commented on #177
Hi @sarahquigley, just checking on if you still intend to make a PR? If not, I will close this issue :)

[2017-02-22 12:54] terrymun commented on #169
Will keep in view for future usability improvements, but will close this issue for the moment being. Feel free to reopen it if you see the need as such.

[2017-02-22 12:59] terrymun commented on #165
Added to the readme in 2705f73. Thank you :)

[2017-02-22 12:59] #165 closed

[2017-02-22 13:02] bennyb commented on #187
I'm inserting some caption text to right of the image so need to make sure there's enough space for this.

[2017-02-22 13:07] terrymun commented on #187
The only way you can do it for now is to destroy the Fluidbox instance, and re-initialize it when the `data-fluidbox-max-width` attribute has been updated. But this is likely to be extremely unperformant if you're updating this attribute on the fly at every tick of the window/viewport resize event.

Alternatively you can settle for a percentage-based width for the caption, but I don't think this i

[2017-02-22 13:18] bennyb commented on #187
Yeah i was thinking that was going to be the only way.  I'll add some throttling on the resize so it's not called and i'll probably only amend the max width on certain break points.

Thanks for the quick responses, much appreciated.

[2017-02-22 14:26] sarahquigley commented on #177
Sorry! I totally forgot about this issue @terrymun. Let me fix it today. It's a really quick fix.

[2017-02-22 19:41] mr-aleks commented on #187
I have a question how to do that by clicking the image to scale it up to 100% rather than to the maximum width / height of the window?

[2017-02-22 20:15] terrymun commented on #187
@bennyb You can probably hack the plugin the way you want. Instead of relying on merged settings, you can [change the lines in this code block](https://github.com/terrymun/Fluidbox/blob/master/src/js/jquery.fluidbox.js#L478-L485) so that instead of referring to `fb.settings.maxWidth`, you can check for `$fb.attr('data-fluidbox-max-width')` instead. Note that if this is the case, you will have to e

[2017-02-23 14:50] mr-aleks commented on #187
@terrymun I have one more question, I can not understand why not working JS fluidbox
But I found an example on sodepen [Fluidbox (v1.3)](http://codepen.io/terrymun/full/JKHwp)
By copying JS the script from there it worked, and if connected via a link or downloaded file does not work at all. I'm not good at JS
Once I have copied from there JS and connected as in the example [jquery.imagesloaded.min

[2017-05-18 17:54] kerberjg opened #188 "Bootstrap's container is cropping the enlarged image"
I'm using Bootstrap's `container` class on my main content div. However, whenever I open an image using Fluidbox, the image is cropped to `container`'s `max-width`

Screenshots: http://imgur.com/a/36c8n

I'm running on:
 - Fluidbox 2.0.5
 - jQuery 1.12.0
 - Bootstrap 3.3.7

PS: Seems to be related to #12

[2017-05-24 17:04] kspearrin opened #189 "trigger('close.fluidbox') breaks re-opening"
Example:

    var lightboxSelector = 'a[rel="lightbox"]';

    $(lightboxSelector).fluidbox();

    $(document).keydown(function (e) {
        if (e.keyCode === 27) {
            $(lightboxSelector).trigger('close.fluidbox');
        }
    });

- Click the element to open the fluidbox.
- Press `esc` to close the fluidbox.
- Click the same element again, observe that it does not respond.
- Click th

[2017-05-25 14:35] terrymun commented on #189
Which version of Fluidbox are you using? That is a very strange behaviour. It seems like the `.fluidbox-open` and `.fluidbox--closed` class modifiers are not being toggled properly during open/closing in your site, but I cannot reproduce that behaviour using the latest release.

[2017-05-25 14:36] kspearrin commented on #189
@terrymun This is v2.0.0 which is the latest available on npm.

[2017-05-25 14:37] terrymun commented on #189
v2.0.5 should not have that issue—that is the latest official release. I will look into why the NPM version is not being kept up-to-date. Can you try loading v2.0.5 and report back to me if this issue is still reproducible?

[2017-05-25 14:40] terrymun commented on #169
After studying the W3C accessibility guidelines, pertaining to the `<dialog>` behaviour, I have decided that the escape key should trigger Fluidbox close event when pressed on, as it is a standard behaviour expected by end users. This fix will be included in the next minor version update :)

[2017-05-25 14:43] kspearrin commented on #189
v2.0.5 seems to have fixed it. Can you please let me know when npm is updated?

[2017-05-25 14:55] terrymun commented on #189
Sorry, my bad! It seems like I have been consistently forgetting to publish to NPM for the past 4 public releases. I do apologise for the frustration. v2.0.5 has been published to NPM :) https://www.npmjs.com/package/fluidbox

[2017-05-25 14:55] #189 closed

[2017-06-03 17:04] terrymun commented on #188
Unfortunately that is the limitations of Fluidbox: your parent has `overflow` set to `hidden`. Note that Fluidbox injects content for each image at the same DOM level where it resides, which means you cannot hide overflows—otherwise the image will be cropped.

See https://github.com/terrymun/Fluidbox#overflowing-content

[2017-06-03 17:04] #188 closed

[2017-06-03 17:07] #187 closed

[2017-07-04 10:46] nbelo opened #190 "On Chrome: translate mispositioning"
It seems that on Chrome, the calculation of the translate values, for scrollable pages, some times are off screen. The magnified image got this css value: translate(-203px, 2170.24px) scale(3.38, 3.38)
When in fact the correct position for the vertical coordinates, would be around 200px.
Thx

[2017-07-04 11:11] terrymun commented on #190
This is not a bug. You have created a new stacking context in the container (or any of its parents). Fluidbox works by positioning the element absolutely against the entire viewport size, so if you have, say `position: relative` set on any of the parents, that will throw the positioning off.

Please refer to: [Precautions](https://github.com/terrymun/Fluidbox#precautions).

If you have a proof-of-

[2017-07-04 16:45] nbelo commented on #190
This only happens when I change to the Test environment, and only on Chrome. It works on Firefox and IE11 (incredible :-) ). So, somehow, chrome is calculating more than 1000px in the vertical coordinate .
It even works in my local environment on Chrome

[2017-08-01 17:43] sandrowuermli commented on #168
i Still have problems with Safari (Version 10.1.2 (12603.3.8)) but i found a global solution.
Let's start with SCSS:
First i removed the opacity from the overlay to remove the blur:

[code]
Next up, i set the overlay as `before:` to the highest element from the Fluidbox: The Fluidbox itself:
[code]
Note that i initialized every element with `.fluidbox` class as a fluidbox.
I use fluidbox in wordpr

[2017-08-02 07:20] spieglio opened #191 "Navigate Fluidbox with Arrow Keys"
Hello - I just found this jQuery plugin and feel like it's the most beautiful / minimalist lightbox I have seen and would love to use it. But I have one feature which I wonder if it's doable via customization with this plugin (or if it's part of the roadmap).

I'd like to be able to navigate photos inside my article with the left and right arrow keys (cycle through the images basically).

Is this

[2017-08-23 08:29] roelvanduijnhoven commented on #168
I also still encounter some cases were images are blurry in Safari.

Maybe reopen this issue; and dive into @sandrowuermli's post? As he seems to be on to something!

[2017-08-23 12:11] terrymun commented on #168
@sandrowuermli @roelvanduijnhoven Sorry for being late at getting back, I've been quite swamped lately. I'll have a look at it ASAP.

With regards to the blurry images on Safari, is it only restricted to Safari on non-retina versions of MBP/iMac?

[2017-08-23 12:22] Gaya commented on #168
@terrymun I can confirm it still happens on retina and non-retina displays. Sad my previous solution doesn't work in this case. cc: @sandrowuermli @roelvanduijnhoven

[2017-08-31 14:18] Forever-Peace opened #192 "Trouble installing"
I'm a bit clueless when it comes to html, and I'm having trouble getting Fluidbox to work with my fork of beautiful_jekyll (from https://github.com/daattali/beautiful-jekyll#readme) on my.

I have:
1) Copied jquery.fluidbox.min.js here (https://github.com/Forever-Peace/Ground_Control/tree/master/js). Beautiful_jekyll already came with jquery-1.11.2.min.js.
2) Copied fluidbox.min.css and fluidbox.m

[2017-09-01 07:42] terrymun commented on #192
Fluidbox does not seem to be loaded on your page. You probably have to modify the YAML file so that Fluidbox will be loaded to the theme: https://github.com/daattali/beautiful-jekyll#yaml-front-matter-parameters.

You can see that Fluidbox is clearly not loaded because attempting to run `$().fluidbox` returns undefined.

[2017-09-01 12:43] Forever-Peace commented on #192
Ah, yes thank you! I can see the js files in the console and sources now, but I'm unfortunately still getting the error message, and lightbox still doesn't appear to be working. Here is the current relevant front matter for the page now:

ext-js: //cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js
js:
 - /js/jquery-1.11.2.min.js
 - /js/jquery.fluidbox.m

[2017-09-01 15:33] terrymun commented on #191
I think this is related to the gallery function? Do correct me if I have understood your question incorrectly.

See #52 :)

[2017-09-01 15:37] terrymun commented on #192
Debounce/throttle plugin is not required but recommended. However, if you want Fluidbox to take advantage of it, you will need to load that plugin before Fluidbox does. It will be a lot easier if you have a build process, where you can specify what dependencies are required and they will be automagically loaded in the correct order.

From your page I can see that you are running into a syntax erro

[2017-09-01 15:38] terrymun commented on #190
If you can reproduce the issue with minimal code, I will be more than happy to help. Right now it's impossible for me troubleshoot your setup: for that,, I will close the issue in due time.

[2017-09-01 16:06] Forever-Peace commented on #192
It's raising an error when I try to call $(function... in main.js.
![Imgur1](http://i.imgur.com/i3uAx8R.png)

Console message:
![Imgur2](http://i.imgur.com/VkN2hsB.png)

Is there anything else from the browser console that would be helpful here? Again, I apologize, this is not my strong suite.

[2017-09-01 19:35] terrymun commented on #192
Pass your code through JSLint/Hint and you will see what went wrong: you are placing the DOM ready handler in an object called `main`.

I'm sorry but I cannot help you any further—these errors are not caused by Fluidbox at all.

[2017-09-01 19:36] #192 closed

[2017-09-02 10:56] spieglio commented on #191
Yes, kinda does fall into that topic area. Sorry for not getting that int he first place.
I'll stay without arrow key navigation for now then :) I totally understand how this keeps it simple and smaller.

[2017-09-02 10:56] #191 closed

[2017-09-10 10:56] czirkoszoltan opened #193 "Blurry zoomed image on Safari"
This is a Safari-only issue.

Sometimes the zoomed image (.fluidbox__ghost) is blurry, because Safari scales it twice. Normally, the div has two style properties, which affect scaling; the first one is the width: and height: property (which is there for the unopened image), and the second one is the transform: property (only for the opened image). Usually the original size of the image is much sma

[2017-11-23 13:13] Mesoptier commented on #193
We've been having the exact same issue. I can think of two solutions:

- Remove `position: fixed` from the overlay element, but somehow keep its positioning.
- Invert the scaling of the ghost element. If the ghost has `width` and `height` set to its final size, the image is not blurred. For the animation this would then require first scaling down the image with `scale(0.*, 0.*)` and then scaling u

[2017-12-18 10:50] elron opened #194 "Scroll to close doesn't work like in Medium"
Hey,
I tried to open the demo in chrome + edge but whenever I scroll when there's a picture open, it doesn't close it.
Notice how in Medium's site you can scroll up or down, and it will close it after like 500ms, but it doesn't work in Fluidbox.
I've seen [this comment](https://github.com/terrymun/Fluidbox/issues/145#issuecomment-148807856) but
its not identical to Medium. See, in Medium you can s

[2017-12-19 09:13] terrymun commented on #194
The comment you have linked is a good place to start: you can always modify it to suit your needs (in this case, an exact Medium replica in terms of UX). Fluidbox is not meant to be a verbatim copy of Medium's lightbox component, but more of a study of it. It is extremely minimal and stripped down, but powerful in the sense that it emits a lot of events that you can use as hooks for calling custom

[2017-12-19 15:25] elron commented on #194
I see :) thanks for your detailed answer!
Is the plugin extendable? for example, if I want to add another JS with that event feature without breaking or changing your original code - is that possible?

[2017-12-20 08:55] ptitof opened #195 "help conflict with mcustomscrollbar"
first of all thank you for this beautiful program, I have an integration problem with mcustomscrollbar. Could not get the image out of the container using mcustomscrollbar. I tried with z-index, but the problem did not come from an overlay property. Everything works that I disable mcustomscrollbar. Is there a function in js for fluidbox to dominate a container already using a js program with a hig

[2017-12-20 08:57] terrymun commented on #195
The plugin is probably creating a new stacking context, which means Fluidbox is unable to break out of it. See: https://github.com/terrymun/Fluidbox#accidental-creation-of-new-stacking-contexts

[2017-12-20 09:09] terrymun commented on #194
The plugin does not allow you to register custom events, but you can feel free to create a fork and merge in the master branch whenever it is updated.

Speaking of your original question, a slightly modification to the code snippet you linked should work (I have not tested it tho):

[code]

[2017-12-20 14:47] elron commented on #194
oh thats genius! thanks.
Haven't tested it yet but it looks neat.

[2018-03-07 07:31] neokio opened #196 "CSS workaround for differential aspect ratios?"
I'm looking for a workaround to the issue addressed in #148. In the [demo example](http://terrymun.github.io/Fluidbox/demo/index.html#differential-aspect-ratios), the problem is barely apparent, whereas with regular photos it's quite jarring.

This **[jsfiddle](https://jsfiddle.net/0eL8Luww/)** shows the jump better.

[This](https://jsfiddle.net/hpy8nxcp/) could be a workable solution with a bit m

[2018-03-07 22:08] neokio commented on #196
On second thought, this probably overcomplicates an otherwise simple and excellent tool. Never mind :)

[2018-03-07 22:08] #196 closed

[2018-03-07 22:35] neokio commented on #169
This feature is already there (though disabled) on **line 609** of `Fluidbox/src/js/jquery.fluidbox.js`.

Just need to change this ...

[code]
... to ...
[code]

[2018-03-12 06:42] argentini commented on #193
@czirkoszoltan great workaround! I'd add that if you use a fixed element, you should also add `position: absolute` to the class. Visibility works, but the page will move to accommodate the change in height. By floating the element it stays off the page as it does when fixed.

[2018-04-23 17:59] dpw1 opened #197 "It doesn't work within a container."
This following image is within a div.container.

![bug-1](https://user-images.githubusercontent.com/12404809/39144269-33ad5bf6-4728-11e8-953a-5b6c89411644.png)

When I click on it, it looks like this:

![bug-2](https://user-images.githubusercontent.com/12404809/39144337-5f3e818c-4728-11e8-8427-fc4b64f75bdf.png)

It is blocked by the parent. What can I do?

[2018-04-23 18:01] terrymun commented on #197
That's because you've created a new stacking context with the parent: please read the [precautions section(https://github.com/terrymun/Fluidbox#precautions) in the readme.

Also, helps to include a code snippet (such as a link to JSfiddle) where you can actually reproduce the issue, if you want somebody else to troubleshoot your setup.

[2018-04-23 18:35] dpw1 commented on #197
Ugh. People who don't read documentations! hahaha no, but really, I'm sorry. I will provide a fiddle with this issue. Thank you for your readiness.

[2018-04-24 02:33] dpw1 commented on #197
It was just a `overflow:hidden;` that I had added on the parent and forgot about it. Thanks!

[2018-04-24 02:33] #197 closed

[2018-04-24 07:04] terrymun commented on #197
@dpw1 It happens&mdash;glad to know the readme covers most bases :)

[2018-06-24 12:03] FUNNYDMAN opened #198 "Update to latest version of jquery"
Hello. I just did set up and after notice that plugin use jQuery v1.x. But I'm using 3.x for all of my projects.  Are you gonna update?

[2018-06-24 14:30] terrymun commented on #198
jQuery v3 is supported by Fluidbox.

[2018-06-24 14:30] #198 closed

[2018-06-24 15:39] FUNNYDMAN commented on #198
Then I think you need to update docs

[2018-06-27 16:55] egantz opened #199 "Improve trigger on images with a different a.href"
Hi! First of all I would like to share my love to this library! keep up the great work.

I was just implementing it in one of my projects and I bumped in an interesting case - When I use jQuery to call fluidbox() on all of the 'a' in the DOM.

I have 2 images:
1. Links to itself, so the `a` element links to the JPG file, and the child `img` element links to the same JPG file.
2. Links to a differe

[2018-06-27 20:21] terrymun commented on #199
Thanks for the very kind words, really appreciate it.

Back to your question: I don't see, from a usability standpoint, of the utility of having anchor element's `href` attribute would point to another non-image URL? If the anchor element is meant to be pointed to an external URL instead of an image, there is no need to instantiate a Fluidbox instance on it. You can do this by:

- Giving anchor el

[2018-09-23 21:05] terrymun commented on #170
@twang91 It seems like the selector of choice, `.post img` is too broad and causing Fluidbox to be instantiated on images that do not strictly belong to the post content (therefore affecting other images).

[2018-09-23 21:06] terrymun commented on #195
Closing due to non-response from OP.

[2018-09-23 21:06] #195 closed

[2018-09-24 15:59] twang91 commented on #170
@terrymun I actually got it working by changing the class to a rel attribute and placing it on the anchor tag instead of the img tag.

[2018-11-17 00:54] SeinopSys opened #200 "Image URLs containing a plus sign cause an "opening halted" warning"
The following URL fails to open with Fluidbox: `http://placehold.it/1024x768&text=Your+text`, and this is logged to the console:

I believe this is caused by `/[\s+]/g` being used instead of `/\s+/g` here:

https://github.com/terrymun/Fluidbox/blob/eda36eebad235a1f372a209eaf5f24477afcf77c/src/js/jquery.fluidbox.js#L202

[2019-01-27 19:17] nickjm commented on #80
Are there any extensions or libraries built on top of fluidbox with this "gallery" feature? Or do you have any recommendations for how I could implement it myself?

[2019-09-06 10:17] Sybrenb commented on #193
I still have this problem

[2019-09-06 10:31] czirkoszoltan commented on #193
this is a Safari bug, unfortunately

[2019-09-20 01:48] otherjoel commented on #193
None of the fixes described here work for me, my only solution has been to disable FluidBox on Safari entirely.

[2019-12-12 12:21] pySilver opened #203 "Update debounce"
Recommended debounce module is outdated (2010) and not compatible with modern JS structures. It would be easy to use https://github.com/niksy/throttle-debounce instead.

[2020-02-20 18:55] GrantSavill commented on #165
I've just come across this issue, is there a workaround in CSS? Setting the overlay to have `width: 100vh` makes sense to me but not sure where to go from there.

[2020-05-12 14:27] neokio commented on #193
I tried the @czirkoszoltan solution, unfortunately it didn't work for me.
iPhone Safari is trending. Surely this is worth fixing?
I love how smoothly this module works on other browsers, but can't justify using it anymore until Safari is fixed :\

[2020-05-12 14:30] czirkoszoltan commented on #193
@neokio Did you hide *all* elements in the DOM with position:fixed? I mean, really all, not just the containers of the fluidbox instance, but any other element as well.

[2020-05-12 15:36] neokio commented on #193
I used fixed every element in my CSS ... there were 4 in total. But I'm using a pretty large CSS framework (fomantic-ui) that probably added some I didn't check. I'll try again :)

[2020-05-12 15:46] neokio commented on #193
Do you need to set `visibility: hidden` on fixed children with fixed parents? In other words ...

[code]

... Will `body.fluidbox-image-opened #parent { visibility: hidden }` do the trick? Or children also?

[2020-05-24 21:47] olafgleba commented on #180
Sadly this doesn't work when using `data-srcset` (instead of `data-src`). And i am afraid i have no solution to this so far.

[2020-07-01 13:23] babobski opened #204 "Prevent closing fluidbox in closestart event"
I'm currently implemented fluidbox in a new web project, I'm combining it with a jquery zoom plugin.
It works great only when I zoom out of the image, fluidbox closes because the drag for the zoom is a click event for fluidbox.

I was hoping I could do a event.preventDefault in the closestart.fluidbox event, but this is not working.

[2020-07-01 14:23] terrymun commented on #204
This feels like an XY problem: the `closestart` event is fired because closing has already been initiated: so conceptually it is already too late to stop closing at this point.

Instead, you might want to prevent the click event from propagating from the jQuery zoom plugin instead. In that sense, the click event does not bubble up to the fluidbox DOM and therefore will not be caught and trigger cl

[2020-08-09 21:16] mhellmeier commented on #193
Is there any update for this?

Has it already been reported to the Safari team?

[2021-10-19 15:42] mrdrmitten opened #205 "Safari Still Rendering Blurry Images"
I have incorporated Fluidbox v2.0.5 in my little project and if I adjust the image display height or width on the page, once opened using Fludibox the image is blurry. I noticed it was an issue before but was fixed in v2.0.4.

[2021-11-11 21:12] nixprosoft opened #206 "Cropped fluidbox inside block with overflow:hidden"
When images inside bootstrap modal, for example,

![fluidbox-inside-modal](https://user-images.githubusercontent.com/5313478/141369069-9d243803-193a-465e-a4b2-8baa5ec9b481.png)

then clicked image crops like that (canvas limited by block overflow restrictions):

![fluidbox-cropped](https://user-images.githubusercontent.com/5313478/141369110-d3cc7e97-a219-48e8-a89e-242e5650106d.png)

When `overflow

[2022-11-20 19:24] wjakob commented on #168
I ran into this issue just now and found the old ticket here. I think that it should be reopened.